{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="vexi_taller_cont_general"> 

    <div id="vexi_edu_taller1_central">
        <img id="vexi_edu_taller1_img" src="{% static 'core/img/friends/logoVexi.png' %}">
      <div id="vexi_edu_taller1_central_titulo">          
        ¿Por qué es importante la educación financiera en los jóvenes? 
      </div>
          <div id="vexi_edu_taller1_central_descipción">
            Muchas veces creemos estar preparados para empezar una vida financiera responsable, pero la realidad es que no sabemos como funcionan los instrumentos financieros más comunes. Comprender el manejo d e estos será el punto de partida hacia una relación saludable con tus finanzas ya que la falta de experiencia podría llevarnos a tomar malas decisiones financieras.<br><br>
    
            En este taller, Vexi y Making Friends buscamos ayudarnos a entender mejor las implicaciones de tu primera tarjeta de crédito así como las herramientas digitales a su disposición, ayudándolos a tener finanzas saludables desde ahora. 
             
        </div>  
    </div>





























{% endblock %}