{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}


<div id="mc_taller_cont_general"> 

    <div id="mc_fin_cont1">
        <div id="mc_fin_cont1_espaciador"></div>
        <div id="mc_fin_cont1_img">
            <img src="{% static 'core/img/friends/logoVexi.png' %}" alt="">
        </div>
    </div>
    <div id="vexi_edu_taller1">
        
        <!-- Lateral 1-->
        <div id="vexi_edu_taller1_lateral1">
    
            <div id="vexi_edu_taller1_lateral1_boton1">
    
               <a href="{% url 'vexi_taller2' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="mc_fin_taller1_central">
    
            <h3 id="mc_fin_taller1_central_h3_1">Tipos de Tarjetas de crédito</h3>
            <p id="mc_fin_taller1_central_p">Tener tu primera TDC es empezar en el mundo del “adulting” (Sí, aunque aún te sientas como un bebé) y tomar nuevas responsabilidades financieras por eso aquí te enseñaremos cómo usarla con responsabilidad.</p>

    
            
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="vexi_edu_taller2_lateral2">
            <div id="vexi_edu_taller1_lateral2_boton2">
                <a href="{% url 'vexi_taller4' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>







{% endblock %}