{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div class="vexi_inicio">
<div class="vexi_coverpage">
    <div class="vexi_cover_page">
      <img clas="vexi_img"src="https://images.unsplash.com/photo-1601597111158-2fceff292cdc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">
      </div>
    </div>
    <div class="vexi_bar">
      <div class="vexi_bar_content">
        <a href="https://vexi.mx/">
          <button class="vexi_btn_bar">Visitanos</button></a>
          <a href="https://www.messenger.com/t/vexitarjeta">
            <button class="vexi_btn_bar">Contactános</button></a>
            <a href="{% url 'vexi_edufin' %}">
              <button class="vexi_btn_bar">Empezar a aprender</button></a>
      </div>
  
    </div>
    <div class="vexi_logo">
      <div class="vexi_logo_content">
          <div class="vexi_logo_img">
              <div class="vexi_img" style="background-image: url({% static 'core/img/friends/logoVexi.png' %}">
              </div>
            </div>
          </div>
        </div>
    
  <div class="vexi_info">   
      <div class="vexi_descrip">
        <h1 class="vexi_h1">¿Quiénes somos?</h1> 
        <p class="vexi_p">La tarjeta de crédito que siempre quisiste tener! <br>Queremos que nuestros clientes, l@s Vexican@s, aprendan sobre el mundo financiero y obtengan el mayor provecho posible de su Tarjeta de Crédito Vexi, de manera que poco a poco tengan acceso a una gran variedad de productos financieros formales que les permitan potenciar su desarrollo. </p>      
     </div>
  
   <div class="vexi_talleres">
      <h1 class="vexi_h1">Nuestro contenido</h1>
  
      <div class="vexi_cursos_cards-wrapper">
        <div class="vexi_cursos_card-grid-space">
          <a class="vexi_cursos_card" href="" style="--bg-img: url(https://images.unsplash.com/photo-1563013544-824ae1b704d3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">
            <div>
              <h3>Educación financiera con Vexi</h3>
              <p>Aprende a usar una TDC de manera adecuada sin morir en el intento</p>
              <div class="vexi_cursos_tags">
                <div class="vexi_cursos_tag">Finanzas</div> 
              </div>
            </div>
          </a>
        </div>
        <div class="vexi_cursos_card-grid-space">
          <a class="vexi_cursos_card" href="" style="--bg-img: url(https://vexi.mx/assets/images/cuentaProtegida.png)">
            <div>
              <h3>Conoce hasta donde puedes llegar con Vexi.</h3>
              <p>Vexi te permite iniciar o reconstruir tu historial crediticio</p>
              <div class="vexi_cursos_tags">
                <div class="vexi_cursos_tag">Proximamente</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>    
  
    <div id="vexi_inicio_cont_final"> 

      <div id="vexi_final_cont_central">
  
          <div id="vexi_final_central_cont1">
              <h2 >Conoce más sobre nosotros</h2>
          </div>
  
          <div id="vexi_final_central_cont2">
  
              <div class="vexi_final_cont2_datos">
                  <p class="vexi_p_datos">+700 M</p>
                  <p class="vexi_p_datos_text">En compras con Vexi</p>
              </div>
              <div class="vexi_final_cont2_datos">
                  <p class="vexi_p_datos">Ganador</p>
                  <p class="vexi_p_datos_text">Best scale up Startups in Latin America 2019</p>
              </div>
              <div class="vexi_final_cont2_datos">
                  <p class="vexi_p_datos">1er lugar</p>
                  <p class="vexi_p_datos_text">Fintech Latam 2018</p>
              </div>
  
          </div>
  
  <div id="vexi_final_central_cont3">
    <h2 id="vexi_h2_cont3">PREGUNTAS FRECUENTES</h2>
    <p id="vexi_p_cont3">﹀</p>
    <div id="vexi_cont3_pf">
        <div class="vexi_cont3_pfs">
            <h5 class="vexi_h5_cont3_pfs">¿Cómo puedo incrementar mi línea de crédito?</h5>
            <p class="vexi_p_cont3_ps">Recuerda que la línea de crédito es resultado de un análisis de tu perfil de cliente, tu capacidad de pago o qué tan experto eres en el uso de tarjetas de crédito. Factores que tomamos en cuenta para evitar que te endeudes y para que aprendas a usar tu tarjeta. </p>
        </div>
        <div class="vexi_cont3_pfs">
            <h5 class="vexi_h5_cont3_pfs">¿Dónde puedo pagar mi cuenta Vexi?</h5>
            <p class="vexi_p_cont3_ps">Puedes realizar el pago:

              - Por transferencia interbancaria (STP).
              
              - Como pago a tarjeta de crédito por banca electrónica.
              
              - En sucursal de cualquier banco.
              
              - En OXXO.
              .</p>
        </div>
        <div class="vexi_cont3_pfs">
            <h5 class="vexi_h5_cont3_pfs">¿Dónde puedo comprar a MSI y disfrutar de promociones con mi tarjeta Vexi American Express® ?</h5>
            <p class="vexi_p_cont3_ps">¡Con tu Tarjeta Vexi American Express® tienes acceso a los beneficios de meses sin intereses y promociones en establecimientos participantes de American Express! 

    </div>
</div>
</div>

<div id="vexi_final_central_cont4">
    <div id="vexi_final_central_cont4_boton">
        <a id="vexi_a_cont4_boton" href="{% url 'vexi_edufin' %}">

             <p>Empezar a aprender</p

        ></a>
    </div>
</div>
  
  <div>
                      
</div>




{% endblock %}