{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="vexi_taller_cont_general_taller1"> 

    <div id="vexi_edu_taller1">
        
        <!-- Lateral 1-->
        <div id="vexi_edu_taller1_lateral1">
    
            <div id="vexi_edu_taller1_lateral1_boton1">
    
               <a href="{% url 'vexi_edufin' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="vexi_edu_taller1_central">
          <div id="vexi_edu_taller1_central_img">
            <img id="vexi_edu_img1" src="{% static 'core/img/friends/logoVexi.png' %}" alt="">
            <img id="vexi_edu_img2"src="{% static 'core/img/logos/Negro.png' %}" alt="">
        </div>
            <h1 id="vexi_edu_taller1_central_h1">¿Por qué es importante la educación financiera? </h1>
            <p class="vexi_edu_taller1_central_p">Muchas veces creemos estar preparados para empezar una vida financiera responsable, pero la realidad es que no sabemos como funcionan los instrumentos financieros más comunes. Comprender el manejo de estos será el punto de partida hacia una relación saludable con tus finanzas ya que la falta de experiencia podría llevarnos a tomar malas decisiones financieras.<br><br>


              En este taller, Vexi y Making Friends buscamos ayudar a entender mejor las implicaciones de tu primera tarjeta de crédito así como las herramientas digitales a su disposición, ayudándolos a tener finanzas saludables desde ahora. 
               
              
              
               </p>
    
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="vexi_edu_taller1_lateral2">
            <div id="vexi_edu_taller1_lateral2_boton2">
                <a href="{% url 'vexi_taller2' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>



{% endblock %}