{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="vexi_taller_cont_general_taller7"> 

    <div id="vexi_edu_cont1_taller7">
        <div id="vexi_edu_taller7_cont1_espaciador"></div>
        <div id="vexi_edu_taller7_cont1_img">
            <img src="{% static 'core/img/friends/logoVexi.png' %}" alt="">
        </div>
    </div>
    <div id="vexi_edu_taller7">
        
        <!-- Lateral 1-->
        <div id="vexi_edu_taller7_lateral1">
    
            <div id="vexi_edu_taller7_lateral1_boton1">
    
               <a href="{% url 'vexi_taller6' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="vexi_edu_taller7_central">
    
            <h1 id="vexi_edu_taller7_central_h1">Intereses </h1>
            <p class="vexi_edu_taller7_central_p">Los intereses pueden ser definidos como el precio que tienes que pagar por pedirle dinero prestado al banco a través de tu tarjeta. La mayoría de las personas piensan que cuando no pueden pagar el saldo total y sólo cubren una parte de su deuda pagan intereses por el saldo que quedaron a deber y esto es totalmente falso, pues en el cálculo de intereses influyen tres factores principales: tiempo, saldo y dinero. 
            </p>
            
            <h2 id="vexi_edu_taller7_central_h2">Es decir, entre más tiempo tardes en pagar tu saldo más se incrementarán los intereses</h2>

    
            
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="vexi_edu_taller7_lateral2">
            <div id="vexi_edu_taller7_lateral2_boton2">
                <a href="{% url 'vexi_taller8' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>

{% endblock %}