{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}
<div id="vexi_taller_cont_general_taller4"> 

    <div id="vexi_edu_cont1_taller4">
        <div id="vexi_edu_taller4_cont1_espaciador"></div>
        <div id="vexi_edu_taller4_cont1_img">
            <img src="{% static 'core/img/friends/logoVexi.png' %}" alt="">
        </div>
    </div>
    <div id="vexi_edu_taller4">
        
        <!-- Lateral 1-->
        <div id="vexi_edu_taller4_lateral1">
    
            <div id="vexi_edu_taller4_lateral1_boton1">
    
               <a href="{% url 'vexi_taller3' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="vexi_edu_taller4_central">
    
            <h1 id="vexi_edu_taller4_central_h1">

              ¿Cómo se obtiene una TDC?

            </h1>

            <p class="vexi_edu_taller4_central_p">

              En México existen ciertas reglas para poder acceder a una TDC

            </p>
        <div class="vexi_contenedor_timeline">
          <ul id='timeline_vexi'>
            <li class='timeline_vexi_li'>
              <input class='radio_vexi' id='radio_vexi_1' name='works' type='radio' checked>
              <div class="relative_vexi">
                <label for='radio_vexi_1' class="timeline_vexi_label">Ser mayor de 18 años</label>
                <span class='timeline_vexi_circle'></span>
              </div>
              <div class='timeline_vexi_content'>
                <p>
                  Aunque la edad recomendada es entre los 20 y 30 años, ya que somos menos impulsivos a la hora de comprar y desarrollos la inteligencia financiera, además de tener un sueldo. 
                </p>
              </div>
            </li>
            <li class='timeline_vexi_li'>
              <input class='radio_vexi' id='radio_vexi_2' name='works' type='radio'>
              <div class="relative_vexi">
                <label for='radio_vexi_2' class="timeline_vexi_label">Documentación personal</label>
                <span class='timeline_vexi_circle'></span>
              </div>
              <div class='timeline_vexi_content'>
                <p>
                  Una identificación oficial vigente donde se pueda ver tu carita preciosa y tu firma. 
                </p>
              </div>
            </li>
            <li class='timeline_vexi_li'>
              <input class='radio_vexi' id='radio_vexi_3' name='works' type='radio'>
              <div class="relative_vexi">
                <label for='radio_vexi_3' class="timeline_vexi_label">Comprobante de ingresos</label>
                <span class='timeline_vexi_circle'></span>
              </div>
              <div class='timeline_vexi_content'>
                <p>
                  Tener ingresos constantes y poder comprobarlos, aunque la mayoría de instituciones financieras te piden un mínimo de $6,000.
                </p>
              </div>
            </li>
            <li class='timeline_vexi_li'>
              <input class='radio_vexi' id='radio_vexi_4' name='works' type='radio'>
              <div class="relative_vexi">
                <label for='radio_vexi_4' class="timeline_vexi_label">Comprobante de domicilio</label>
                <span class='timeline_vexi_circle'></span>
              </div>
              <div class='timeline_vexi_content'>
                <p>
                  Puede ser el recibo de luz, agua, internet, etc de tus papás o de tu departamento de “adulto independiente”.
                </p>
              </div>
            </li>
          </ul>
            
          </div>
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="vexi_edu_taller4_lateral2">
            <div id="vexi_edu_taller4_lateral2_boton2">
                <a href="{% url 'vexi_taller5' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>


{% endblock %}