{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}
<div id="vexi_taller_cont_general_taller4"> 

    <div id="vexi_edu_cont1_taller4">
        <div id="vexi_edu_taller4_cont1_espaciador"></div>
        <div id="vexi_edu_taller4_cont1_img">
            <img src="{% static 'core/img/friends/logoVexi.png' %}" alt="">
        </div>
    </div>
    <div id="vexi_edu_taller4">
        
        <!-- Lateral 1-->
        <div id="vexi_edu_taller4_lateral1">
    
            <div id="vexi_edu_taller4_lateral1_boton1">
    
               <a href="{% url 'vexi_taller3' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="vexi_edu_taller4_central">
    
            <h1 id="vexi_edu_taller4_central_h1">¿Cómo se obtiene una TDC? 
            </h1>
            <p class="vexi_edu_taller4_central_p">En México existen ciertas reglas para poder acceder a una TDC
            </p>

            <div class="vexi_timeline">
              <ul id='timeline'>
                    <li class="content-right">
                  <input class='vexi_taller4_radio' id='work5' name='works' type='radio' checked>
                  <div class="relative">
                    <label class="vexi_edu_taller4_label1" for='work5'>Ser mayor de 18 años</label>
                    <span class='circle'></span>
                  </div>
                  <div class='vexi_taller4_content'>
                    <p>
                      Aunque la edad recomendada es entre los 20 y 30 años, ya que podrás acceder a un  sueldo más o menos estable que te permita solventar el gasto 
              
                    </p>
                  </div>
                </li>
                <li class="content-left">
                  <input class='vexi_taller4_radio' id='work4' name='works' type='radio'>
                  <div class="relative">
                    <label  class="vexi_edu_taller4_label2"  for='work4'>Documentación personal</label>
                    <span class='circle-right'></span>
                  </div>
                  <div class='vexi_taller4_content'>
                    <p>
                      Una identificación oficial vigente donde se pueda ver tu carita preciosa y tu firma. 
                    </p>
                  </div>
                </li>
                <li class="content-right_2">
                  <input class='radio_2' id='work_2' name='works' type='radio' checked>
                  <div class="relative_2">
                    <label class="vexi_edu_taller4_label3" for='work_2'>Comprobante de ingresos</label>
                    <span class='circle_2'></span>
                  </div>
                  <div class='vexi_taller4_content_2'>
                    <p>
                      Tener ingresos constantes y poder comprobarlos, aunque la mayoría de instituciones financieras te piden un mínimo de $6,000   
                    </p>
                  </div>
                </li>
                <li class="content-left_3">
                  <input class='radio_3' id='work_3' name='works' type='radio'>
                  <div class="relative_3">
                    <label class="vexi_edu_taller4_label4" for='work_3'>Comprobante de domicilio</label>
                    <span class='circle-right_3'></span>
                  </div>
                  <div class='vexi_taller4_content_3'>
                    <p>
                      Puede ser el recibo de luz, agua, internet, etc de tus papás o de tu departamento de “adulto independiente” 
                    </p>
                  </div>
                </li>
              </ul>
              </div>
            
            
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="vexi_edu_taller4_lateral2">
            <div id="vexi_edu_taller4_lateral2_boton2">
                <a href="{% url 'vexi_taller5' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>


{% endblock %}