{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="vexi_taller_cont_general_taller12"> 

    <div id="vexi_edu_cont1_taller12">
        <div id="vexi_edu_taller11_cont1_espaciador"></div>
        <div id="vexi_edu_taller11_cont1_img">
            <img src="{% static 'core/img/friends/logoVexi.png' %}" alt="">
        </div>
    </div>
    <div id="vexi_edu_taller12">
        
        <!-- Lateral 1-->
        <div id="vexi_edu_taller12_lateral1">
    
            <div id="vexi_edu_taller12_lateral1_boton1">
    
               <a href="{% url 'vexi_taller11' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="vexi_edu_taller12_central">
    
            <h1 id="vexi_edu_taller12_central_h1">Herramientas digitales </h1>
            <p class="vexi_edu_taller12_central_p">La tecnología se ha convertido en una de las grandes herramientas para la inclusión financiera. Hoy prácticamente si tienes un smartphone, tienes oportunidad de abrir una cuenta bancaria. 
                Las apps financieras pueden convertirse en tu gran aliado al momento de gestionar tu dinero. Pues todo lo tendrás en un mismo lugar, podrás ver tus gastos, cuánto debes y en algunos casos hasta tendrás opciones para gestionar los pagos. <br><br>
                
                Con las apps podrás llevar prácticamente todas las operaciones que necesitas en tu bolsillo y olvidarte para siempre de tener que ir a una sucursal o anotar todo en papelitos.
                </p>

        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="vexi_edu_taller12_lateral2">
            <div id="vexi_edu_taller12_lateral2_boton2">
                <a href="{% url 'vexi_taller13' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>

{% endblock %}