{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="vexi_taller_cont_general_taller8"> 

    <div id="vexi_edu_cont1_taller8">
        <div id="vexi_edu_taller8_cont1_espaciador"></div>
        <div id="vexi_edu_taller8_cont1_img">
            <img src="{% static 'core/img/friends/logoVexi.png' %}" alt="">
        </div>
    </div>
    <div id="vexi_edu_taller8">
        
        <!-- Lateral 1-->
        <div id="vexi_edu_taller8_lateral1">
    
            <div id="vexi_edu_taller8_lateral1_boton1">
    
               <a href="{% url 'vexi_taller7' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="vexi_edu_taller8_central">
    
            <h1 id="vexi_edu_taller8_central_h1">¿Cómo elijo mi primera Tarjeta de Crédito?</h1>
            <p class="vexi_edu_taller8_central_p">No te dejes llevar por la emoción de tener una tarjeta de crédito para comprar todo lo que se te antoje.  Tener una tarjeta de crédito puede darte grandes beneficios si la utilizas responsablemente. 
            </p>
            
            <h2 id="vexi_edu_taller8_central_h2">Te dejamos unas recomendaciones</h2>

            <ul class="vexi_taller8_cards">
  
                <li class="vexi_taller8_card">
                  <h1>Analiza para qué quieres una tarjeta de crédito</h1>
                  
                  <p>No te dejes llevar por la emoción de tener una tarjeta de crédito para comprar todo lo que se te antoje. Analiza muy bien el uso que le darás, recuerda que el crédito que te ofrece un banco no es un ingreso extra ni una extensión de tu sueldo, y que todo lo que compres con él deberás pagarlo a tiempo para que no te genere intereses. Tener una tarjeta de crédito puede darte grandes beneficios si la utilizas responsablemente</p>
                </li>
                <li class="vexi_taller8_card">
                  <h1>Conoce los beneficios que te ofrece</h1>
              
                  <p>Infórmate sobre el porcentaje de interés que cobra el banco por pago a destiempo, si cobra anualidad, si te permite disponer de efectivo en cajeros automáticos y la comisión que te cobra por este servicio, así como de otros costos variables que llegue a generar al utilizarla. También es importante que conozcas los beneficios adicionales que te brinda una tarjeta de crédito al realizar tus compras, por ejemplo, si te da puntos, descuentos especiales, participar en compras a meses sin intereses, entre otros. 
                  </p>
                </li>
                <li class="vexi_taller8_card">
                  <h1>El Banco</h1>
              
                  <p>Revisa que la tarjeta de crédito pertenezca a una marca reconocida como American Express, Carnet, Visa o Mastercard,  para que puedan respaldarte en caso de que llegues a tener algún problema como fraude, robo de identidad o cargos no reconocidos por compras que tú no hayas hecho. No te dejes engañar por la “facilidad” o “rapidez” con que te entregan una tarjeta de crédito.
                  </p>
              
                </li>
                <li class="vexi_taller8_card">
                  <h1>Evalúa tu capacidad de pago</h1>
              
                  <p>Analiza muy bien tus finanzas y revisa cuánto puedes pagar, antes de que decidas utilizar tu tarjeta para realizar una compra. Evita gastar más de lo que ganas, analiza tu ingreso mensual y los gastos fijos y variables, esto te permitirá identificar si tienes la capacidad financiera para adquirir algún producto o servicio en este momento sin que se vea afectada tu economía.</p>
              
                </li>
              </ul>

        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="vexi_edu_taller8_lateral2">
            <div id="vexi_edu_taller8_lateral2_boton2">
                <a href="{% url 'vexi_taller9' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>

{% endblock %}