{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}


<div id="vexi_taller_cont_general_taller3"> 

    <div id="vexi_edu_cont1_taller3">
        <div id="vexi_edu_taller3_cont1_espaciador"></div>
        <div id="vexi_edu_taller3_cont1_img">
            <img src="{% static 'core/img/friends/logoVexi.png' %}" alt="">
        </div>
    </div>
    <div id="vexi_edu_taller3">
        
        <!-- Lateral 1-->
        <div id="vexi_edu_taller3_lateral1">
    
            <div id="vexi_edu_taller3_lateral1_boton1">
    
               <a href="{% url 'vexi_taller2' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="vexi_edu_taller3_central">
    
            <h1 id="vexi_edu_taller3_central_h1">Tipos de TDC</h1>
            <p class="vexi_edu_taller3_central_p">Tener tu primera TDC es empezar en el mundo del “adulting” (Sí, aunque aún te sientas como un bebé) y tomar nuevas responsabilidades financieras por eso aquí te enseñaremos cómo usarla.</p>

            <div id="vexi_edu_taller3_central_conts">
    
                <div class="vexi_edu_taller3_central_conts_conts">
    
                    <div class="vexi_edu_taller3_central_cont_finan">
    
                        <div class="vexi_edu_taller3_central_financieros">
                            <div class="vexi_edu_taller3_central_img">
                                <img src="{% static 'core/img/vexi_taller3_card.png' %}">
                            </div>
                            <p class="vexi_edu_taller3_central_p_financieros">Clasica</p>
                        </div>
    
                        <div class="vexi_edu_taller3_central_financieros_2">
                            <p>Son las más habituales y entre sus características personales está su tipo de cobro que requiere que pagues en su totalidad  la deuda que generas al mes  para no generar intereses.
                            </p>

                        </div>
    
                    </div>
    
                </div>
    
    
                        <div class="vexi_edu_taller3_central_conts_conts">
    
                            <div class="vexi_edu_taller3_central_cont_finan">
            
                                <div class="vexi_edu_taller3_central_financieros">
                                    <div class="vexi_edu_taller3_central_img">
                                        <img src="{% static 'core/img/vexi_taller3_pre.png' %}">
                                    </div>
                                    <p class="vexi_edu_taller3_central_p_financieros">Premium</p>
                                </div>
            
                                <div class="vexi_edu_taller3_central_financieros_2">
                                    <p>Por lo general están reservadas para personas que movilizan cantidades de dinero un poco más elevadas de lo habitual. También cuentan con una serie de beneficios adicionales como seguros o preferencia para cierto tipo de servicios. 
                                    </p>
                                </div>
    
                            </div>
            
                        </div>
                    </div>
            
                </div>
 
        <!-- central-->
        <!-- Lateral 2-->
        <div id="vexi_edu_taller3_lateral2">
            <div id="vexi_edu_taller3_lateral2_boton2">
                <a href="{% url 'vexi_taller4' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>







{% endblock %}