{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="vexi_taller_cont_general_taller5"> 

    <div id="vexi_edu_cont1_taller5">
        <div id="vexi_edu_taller5_cont1_espaciador"></div>
        <div id="vexi_edu_taller5_cont1_img">
            <img src="{% static 'core/img/friends/logoVexi.png' %}" alt="">
        </div>
    </div>
    <div id="vexi_edu_taller5">
        
        <!-- Lateral 1-->
        <div id="vexi_edu_taller5_lateral1">
    
            <div id="vexi_edu_taller5_lateral1_boton1">
    
               <a href="{% url 'vexi_taller4' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="vexi_edu_taller5_central">
    
            <h1 id="vexi_edu_taller5_central_h1">Conceptos básicos </h1>
            <p class="vexi_edu_taller5_central_p">Para hacer un uso de una TDC, debes conocer algunos conceptos básicos a detalle. 
            </p>
            <div class="vexi_taller5_content">
                <a class="vexi_taller5_card" href="#!">
                  <div class="vexi_taller5_card_front" >
                    <p>Línea de crédito</p>
                  </div>
                  <div class="vexi_taller5_card_back">
                    <div>
                      <p>Es el monto máximo por el que puedes aspirar a obtener tu TDC. Este viene determinado por la institución que emitirá el plástico, sin embargo de acuerdo a tu comportamiento este podrá ir cambiando,  podrá aumentar cada seis meses en promedio 
                      </p>
              
                    </div>
                  </div></a><a class="vexi_taller5_card" href="#!">
                  <div class="vexi_taller5_card_front" >
                    <p>Saldo </p>
                  </div>
                  <div class="vexi_taller5_card_back">
                    <div>
                      <p>Esta será el saldo que debes de tu tarjeta, dependerá de los gastos que realices de manera mensual, es decir si tu línea es de crédito es de $100 pero te gastas $40 en papitas, estos se descontarán de tu saldo hasta que los pagues. </p>
              
                    </div>
                  </div></a><a class="vexi_taller5_card" href="#!">
                  <div class="vexi_taller5_card_front" >
                    <p>Fecha límite de pago</p>
                  </div>
                  <div class="vexi_taller5_card_back">
                    <div>
                      <p>Es el último día para saldar tu deuda, por lo general se establece 15 días después de tu fecha de corte. </p>
              
                    </div>
                  </div></a><a class="vexi_taller5_card" href="#!">
                  <div class="vexi_taller5_card_front" >
                    <p>Pago mínimo</p>
                  </div>
                  <div class="vexi_taller5_card_back">
                    <div>
                      <p>Es la cantidad mínima a pagar para que tu cuenta continúe “al corriente”. Sin embargo, si únicamente realizas este pago sólo estarás cubriendo los intereses y una parte pequeña de tu capital. </p>
              
              
                    </div>
                  </div></a><a class="vexi_taller5_card" href="#!">
                  <div class="vexi_taller5_card_front" >
                    <p>Fecha de corte</p>
                  </div>
                  <div class="vexi_taller5_card_back">
                    <div>
                      <p>El banco sumará tus gastos y te proporcionará un total a pagar, considerando no sólo tus deudas si no también comisiones e intereses. Las compras que hagas hasta ese día se sumarán a tu total a pagar ese mes.</p>
              
                    </div>
                  </div></a><a class="vexi_taller5_card" href="#!">
                  <div class="vexi_taller5_card_front" >
                    <p>Pago para no generar intereses</p>
                  </div>
                  <div class="vexi_taller5_card_back">
                    <div>
                      <p>Es el abono que tienes que hacer a tu TDC, para que la institución no te cobre ni un peso de intereses sobre el periodo que estás pagando. </p>
              
              
                    </div>
                  </div></a>
              </div>

    
            
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="vexi_edu_taller5_lateral2">
            <div id="vexi_edu_taller5_lateral2_boton2">
                <a href="{% url 'vexi_taller6' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>






{% endblock %}