{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}
<div id="vexi_taller_cont_general_taller4"> 

    <div id="vexi_edu_cont1_taller4">
        <div id="vexi_edu_taller4_cont1_espaciador"></div>
        <div id="vexi_edu_taller4_cont1_img">
            <img src="{% static 'core/img/friends/logoVexi.png' %}" alt="">
        </div>
    </div>
    <div id="vexi_edu_taller4">
        
        <!-- Lateral 1-->
        <div id="vexi_edu_taller4_lateral1">
    
            <div id="vexi_edu_taller4_lateral1_boton1">
    
               <a href="{% url 'vexi_taller3' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="vexi_edu_taller4_central">
    
            <h1 id="vexi_edu_taller4_central_h1">¿Cómo se obtiene una TDC? 
            </h1>
            <p class="vexi_edu_taller4_central_p">En México existen ciertas reglas para poder acceder a una TDC
            </p>
            
            <div class='progress'>
                <div class='progress_inner'>
                  <div class='progress_inner__step'>
                    <label for='step-1'>Start order</label>
                  </div>
                  <div class='progress_inner__step'>
                    <label for='step-2'>Prepare gift</label>
                  </div>
                  <div class='progress_inner__step'>
                    <label for='step-3'>Pack gift</label>
                  </div>
                  <div class='progress_inner__step'>
                    <label for='step-4'>Decorate box</label>
                  </div>
                  <input checked='checked' id='step-1' name='step' type='radio'>
                  <input id='step-2' name='step' type='radio'>
                  <input id='step-3' name='step' type='radio'>
                  <input id='step-4' name='step' type='radio'>
                  <input id='step-5' name='step' type='radio'>
                  <div class='progress_inner__bar'></div>
                  <div class='progress_inner__bar--set'></div>
                  <div class='progress_inner__tabs'>
                    <div class='tab tab-0'>
                      <h1>Start order</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor ipsum, eleifend vitae massa non, dignissim finibus eros. Maecenas non eros tristique nisl maximus sollicitudin.</p>
                    </div>
                    <div class='tab tab-1'>
                      <h1>Prepare gift</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor ipsum, eleifend vitae massa non, dignissim finibus eros. Maecenas non eros tristique nisl maximus sollicitudin.</p>
                    </div>
                    <div class='tab tab-2'>
                      <h1>Pack gift</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor ipsum, eleifend vitae massa non, dignissim finibus eros. Maecenas non eros tristique nisl maximus sollicitudin.</p>
                    </div>
                    <div class='tab tab-3'>
                      <h1>Decorate box</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor ipsum, eleifend vitae massa non, dignissim finibus eros. Maecenas non eros tristique nisl maximus sollicitudin.</p>
                    </div>
                    <div class='tab tab-4'>
                      <h1>Send gift</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor ipsum, eleifend vitae massa non, dignissim finibus eros. Maecenas non eros tristique nisl maximus sollicitudin.</p>
                    </div>
                  </div>
                  <div class='progress_inner__status'>
                    <div class='box_base'></div>
                    <div class='box_lid'></div>
                    <div class='box_ribbon'></div>
                    <div class='box_bow'>
                      <div class='box_bow__left'></div>
                      <div class='box_bow__right'></div>
                    </div>
                    <div class='box_item'></div>
                    <div class='box_tag'></div>
                    <div class='box_string'></div>
                  </div>
                </div>
              </div>
            
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="vexi_edu_taller4_lateral2">
            <div id="vexi_edu_taller4_lateral2_boton2">
                <a href="{% url 'vexi_taller5' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>


{% endblock %}