{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}
<div id="mc_taller_cont_general_taller9"> 

    <div id="mc_fin_cont1_taller9">
        <div id="mc_fin_taller9_cont1_espaciador"></div>
        <div id="mc_fin_taller9_cont1_img">
            <img src="{% static 'core/img/friends/mc1.png' %}" alt="">
        </div>
    </div>




    <div id="mc_fin_taller8">
        
        <!-- Lateral 1-->
        <div id="mc_fin_taller9_lateral1">
    
            <div id="mc_fin_taller9_lateral1_boton1">
    
               <a href="{% url 'mi_cochinito_taller8' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="mc_fin_taller9_central">
    
            <h1 id="mc_fin_taller9_central_h1">Lanza tu campaña campaña</h1>
            <h2 id="mc_fin_taller9_central_h2">3..2..1 Estamos al aire</h2>
            <p class="mc_fin_taller9_central_p">
                Ya eres todo un experto en Financiamiento colectivo, estás a solo unos pasos de crear tu campaña en MiCochinito.com. Asegúrate de tener todos los requisitos necesarios para llenar el siguiente formalario.
            </p>

            <div id="mc_fin_taller9_crear">
                <div class="mc_fin_taller9_boton">
                    <a href="https://www.micochinito.com/nuevo-proyecto"><p>Crear mi campaña</p></a>
                </div>
                </div>

            <p class="mc_fin_taller9_central_p">
                Todo gran maker puede tener dudas sobre los temas vistos. Si tienes dudas puedes consultar toda la información en esta guía, es ¡GRATIS!
            </p>
            <p class="mc_fin_taller9_central_p">
                <br>
                Si tienes cosas que no quedan claras puedes preguntarnos en nuestro chat y con gusto te ayudaremos.
            </p>
            <p class="mc_fin_taller9_central_p1">
                <a href="#">DESCARGA LA GUIA</a>
                <br>
                Encontrarás más información
            </p>

            <div id="mc_fin_taller9_central_botones">

                <div class="mc_fin_taller9_central_botones">

                    <div class="mc_fin_taller9_boton">
                        <a href="https://www.micochinito.com/"><p>Contactar a Micochinito.com</p></a>
                    </div>

                </div>
                <div class="mc_fin_taller9_central_botones">

                    <div class="mc_fin_taller9_boton">
                        <a href="{% url 'mi_cochinito_inicio' %}"><p>Menú Principal</p></a>
                    </div>

                </div>
            </div>
    
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="mc_fin_taller9_lateral2">
            <!-- <div id="mc_fin_taller9_lateral2_boton2">
                <a href="{% url 'mi_cochinito_taller9' %}"><p>></p></a>
            </div> -->
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>




{% endblock %}