{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="mc_taller_cont_general_taller6"> 

    <div id="mc_fin_cont1_taller6">
        <div id="mc_fin_taller6_cont1_espaciador"></div>
        <div id="mc_fin_taller6_cont1_img">
            <img src="{% static 'core/img/friends/mc1.png' %}" alt="">
        </div>
    </div>




    <div id="mc_fin_taller6">
        
        <!-- Lateral 1-->
        <div id="mc_fin_taller6_lateral1">
    
            <div id="mc_fin_taller6_lateral1_boton1">
    
               <a href="{% url 'mi_cochinito_taller5' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="mc_fin_taller6_central">
        
            <h1 id="mc_fin_taller6_central_h1">Creación de campaña</h1>
            <h2 id="mc_fin_taller6_central_h2">Determina las recompensas no monetarias que darás a tus padrinos.</h2>
            <p class="mc_fin_taller6_central_p">
                Las recompensas te van a servir para incentivar las aportaciones,es decir, hacer que la gente no sólo te aporte porque le gusta tu proyecto y cree en ti, sino porque se llevará algo a cambio.
            </p>
            <p class="mc_fin_taller6_central_p">
                <br>
                Pero recuerda, estas no deben representar un gasto extra para ti en esta etapa, lo que quieres es llegar a la meta, por lo que te recomendamos que tomes en cuenta los siguientes tipos de recompensas:
            </p>

            <div class="mc_fin_taller6_reco">

                <div class="mc_fin_taller6_reco_flex">
                    
                    <div class="mc_fin_taller_reco_img">

                        <img src="{% static 'core/img/mc/package.png' %}" alt="">

                    </div>
                    <div class="mc_fin_taller_reco_datos">
                        <p></p>
                    </div>

                </div>

                <div class="mc_fin_taller6_reco_flex">
                    
                    <div class="mc_fin_taller_reco_img">

                        <img src="{% static 'core/img/mc/fire-cracker.png' %}" alt="">

                    </div>
                    <div class="mc_fin_taller_reco_datos">
                        <p></p>
                    </div>

                </div>

                <div class="mc_fin_taller6_reco_flex">
                    
                    <div class="mc_fin_taller_reco_img">

                        <img src="{% static 'core/img/mc/pizza.png' %}" alt="">

                    </div>
                    <div class="mc_fin_taller_reco_datos">
                        <p></p>
                    </div>

                </div>

            </div>
           
            <div class="mc_fin_taller6_reco">

                <div class="mc_fin_taller6_reco_flex">
                    
                    <div class="mc_fin_taller_reco_img">

                        <img src="{% static 'core/img/mc/llorar.png' %}" alt="">

                    </div>
                    <div class="mc_fin_taller_reco_datos">
                        <p></p>
                    </div>

                </div>

                <div class="mc_fin_taller6_reco_flex">
                    
                    <div class="mc_fin_taller_reco_img">

                        <img src="{% static 'core/img/mc/zapato.png' %}" alt="">

                    </div>
                    <div class="mc_fin_taller_reco_datos">
                        <p></p>
                    </div>

                </div>

                <div class="mc_fin_taller6_reco_flex">
                    
                    <div class="mc_fin_taller_reco_img">

                        <img src="{% static 'core/img/mc/carro-deportivo.png' %}" alt="">

                    </div>
                    <div class="mc_fin_taller_reco_datos">
                        <p></p>
                    </div>

                </div>

            </div>


           
    
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="mc_fin_taller6_lateral2">
            <div id="mc_fin_taller6_lateral2_boton2">
                <a href="{% url 'mi_cochinito_taller7' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>

{% endblock %}