
{% extends 'core/base.html' %}
{% load static %}
{% block content %}


<!-- titulo  @Lalo
<title>Contacto - Makign Friends</title>
	Flavicon
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon16.png">>-->

<h1>Preguntas Frecuentes</h1>

<div class="contacto_contenedor">
	<div class="contacto_cont_preg">
		<h3 class="preg-titulo">
			Cómo funciona Making Friends?
		</h3>
		<p class="preg-texto">
			Es una plataforma de educación gratuita, donde una red de aliados proporciona herramientas y conocimiento con el objetivo de proporcionar herramientas y conocimiento para crear con libertad sin importar si tienes recursos o no. Queremos ser la persona que te gustaría tener para ayudarte con tus ideas.

		</p>
		<button class="faq-toggle">
			<i class="fas fa-chevron-down"></i>
			<i class="fas fa-times"></i>
		</button>
	</div>
	
	<div class="contacto_cont_preg">
		<h3 class="preg-titulo">
			Qué necesito para empezar?
		</h3>
		<p class="preg-texto">
			Es necesario tener una cuenta Making Friends y completar los primeros 3 pasos para identificar que herramientas y aliados necesitas
		</p>
		<button class="faq-toggle">
			<i class="fas fa-chevron-down"></i>
			<i class="fas fa-times"></i>
		</button>
	</div>
	
	<div class="contacto_cont_preg">
		<h3 class="preg-titulo">
			Necesito pagar una suscripción?
		</h3>
		<p class="preg-texto">
			Para nada, es totalmente gratis
		</p>
		<button class="faq-toggle">
			<i class="fas fa-chevron-down"></i>
			<i class="fas fa-times"></i>
		</button>
	</div>
	
	<div class="contacto_cont_preg">
		<h3 class="preg-titulo">
		Qué son los Friends?
		</h3>
		<p class="preg-texto">
			Son Startups o empresas de cualquier tamaño, cuidad o giro que nos brindan sus herramientas que tu o tu proyecto necesita
		</p>
		<button class="faq-toggle">
			<i class="fas fa-chevron-down"></i>
			<i class="fas fa-times"></i>
		</button>
	</div>

	<div class="contacto_cont_preg">
		<h3 class="preg-titulo">
		Qué son los Makers?
		</h3>
		<p class="preg-texto">
			Eres tu, con interés en la creación de soluciones y proyectos que requieren orientación y desarrollo de habilidades.
		</p>
		<button class="faq-toggle">
			<i class="fas fa-chevron-down"></i>
			<i class="fas fa-times"></i>
		</button>
	</div>
	
	<div class="contacto_cont_preg">
		<h3 class="preg-titulo">
			Es necesario tener un proyecto?
		</h3>
		<p class="preg-texto">
			Making friends te ayuda a concectarte a con lo que necesita proyecto, pero no es obligatorio tener uno ya que tienes la libertad de aprender loq ue más te interese
		</p>
		<button class="faq-toggle">
			<i class="fas fa-chevron-down"></i>
			<i class="fas fa-times"></i>
		</button>
	</div>
</div>

<!-- Redes Sociales -->
<div class="social-panel-container">
	<div class="social-panel">
		<ul>
			<li>
				<a href="" target="_blank">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="" target="_blank">
					<i class="fab fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<button class="floating-btn">
	Contáctanos
</button>

{% endblock %}
