
 {% extends 'core/base.html' %}
 {% load static %}
 {% block content %}

  <!-- No supe que hacerle 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'> -->

<!-- titulo  @Lalo
<title>Friends</title>
	Flavicon
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon16.png">>-->

<div id="friends_titulo"> 

  <div id="friends_t_cont_central">

    <div>
      <h1>SÉ UN FRIEND <br> CONSTRUYAMOS <BR> MUTUAMENTE </BR></h1>
    </div>

    <div id="friends_t_cont_central_linea"></div>

  </div>

</div>

<div id="friends_contenido">
  <div id="friends_contenido_central">

    <div id="friends_contenido_1">
      <h3 id="friends_h3">TIENES LAS HERRAMIENTAS QUE NECESITAMOS</h3>

      <p id="friends_p">Creemos en la cooperación mutua, es por eso que creamos una plataforma de edcuación gratuita, donde una red de aliados proporciona herramientas y conocimiento para crear con libertad y enfoque, así entre todos desarrollamos e implementamos soluciones que fomentan el cambio.</p>

      <div id="friends_cont1_li">
        <ul>
          <li>
            Te ayudamos a conectarte con nuevos usuarios y aliados para tu beneficio.
          </li>
          <li>
            Entre más usuarios llegues, tienes la oportunidad de aparecer en los primeros de tu categoria.
          </li>
          <li>
            Tendrás la oportunidad de participar en cada evento que organicemos nosotros o nuestros aliados.
          </li>
          <li>
            Cualquier empresa o startup tiene un un lugar sin importar su tamaño, ciudad, o giro.
          </li>
        </ul>
      </div>

      <h4 id="friends_h4">EFICIENTAMOS EL PROCESO DE CONECTAR RECURSOS CON QUIÉN LOS NECESITA</h4>
    </div>

    <div id="friends_contenido_2">

      <div id="friends_contenido2_form">

        <h4>EL PRIMER PASO PARA UNIRTE</h4>

        <form action="" id="form_friends">

          <input type="text" name="" id="nombre" placeholder="Nombre">
  
          <input type="text" name="" id="apellidos" placeholder="Apellidos">
  
          <input type="email" name="" id="email" placeholder="Correo electronico">
  
          <input type="text" name="" id="startup" placeholder="Nombre de tu StartUp">
  
          <textarea name="" id="cuentanos" cols="30" rows="10" placeholder="Cuentanos sobre ti"></textarea>

          <input type="submit" id="friends_enviar" value="Enviar">
        </form>

      </div>
  
    </div>

  </div>

</div>





{% endblock %}