
 {% extends 'core/base.html' %}
 {% load static %}
 {% block content %}

<div id="friends_titulo"> 

  <div id="friends_t_cont_central">

    <div>
      <h1>SÉ UN FRIEND <br> CONSTRUYAMOS <BR> MUTUAMENTE </BR></h1>
    </div>

    <div id="friends_t_cont_central_linea"></div>

  </div>

</div>

<div id="friends_contenido">
  <div id="friends_contenido_central">

    <div id="friends_contenido_1">
      <h3 id="friends_h3">TIENES LAS HERRAMIENTAS QUE NECESITAMOS</h3>

      <p id="friends_p">En la plataforma es posible crear un perfil destacando preferencias e intereses que posteriormente serán utilizados por un algoritmo que muestra en un marketplace las opciones de cursos más afines a cada persona, así como los productos o servicios de nuestros aliados que podrían requerir para emplear las nuevas habilidades adquiridas.</p>

      <div id="friends_cont1_li">
        <ul>
          <li>
            Te ayudamos a conectarte con nuevos usuarios y aliados para tu beneficio.
          </li>
          <li>
            Entre más usuarios llegues, tienes la oportunidad de aparecer en los primeros de tu categoría.
          </li>
          <li>
            Tendrás la oportunidad de participar en cada evento que organicemos nosotros o nuestros aliados.
          </li>
          <li>
            Cualquier empresa o startup tiene un lugar sin importar su tamaño, ciudad, o giro.
          </li>
        </ul>
      </div>

      <h4 id="friends_h4">EFICIENTAMOS EL PROCESO DE CONECTAR HERRAMIENTAS CON QUIÉN LOS NECESITA</h4>
    </div>

    <div id="friends_contenido_2">

      <div id="friends_contenido2_form">

        <h4>EL PRIMER PASO PARA UNIRTE</h4>

        <form action="" id="form_friends" method="post">{% csrf_token %}

          <input class="friends_input" type="text" name="nombre" id="nombre" placeholder="Nombre">
  
          <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos">
  
          <input type="email" name="email" id="email" placeholder="Correo electrónico">
  
          <input type="text" name="startup" id="startup" placeholder="Nombre de tu startup">
  
          <textarea name="message" id="cuentanos" cols="30" rows="10" placeholder="Cuentanos sobre tu startup"></textarea>

          <input type="submit" id="friends_enviar" value="Enviar">
        </form>

      </div>
  
    </div>

  </div>

</div>





{% endblock %}