{% extends 'core/base.html' %}
{% load static %}
{% block content %}


   <!-- hero
    ================================================== -->
<div class="home_cont_ background" data-parallax="scroll" data-image-src="{% static 'core/img/desarmador.jpg' %}" data-natural-width=4000 data-natural-height=3500 data-position-y=top>

        <div class="home_cont_principal">
          <img src="{% static 'core/img/Logobn.png' %}"><br><br>
            <h1 class="home_h1">
              Te enseñamos lo que no aprendes en la escuela
            </h1> 
            <p class="home_p_principal">Somos un hub de educación que en colaboración con una red de organizaciones te brinda conocimiento y herramientas que te sirven en la vida diaria </p>
           <div>
              <a class="home_a" href="{% url 'login' %}">
               <button class="home_btn">Iniciar sesión</button></a>
              
              <a class="home_a" href="{% url 'signup' %}">
                <button class="home_btn">Registro</button>
              </a>
          </div>
        </div>  
        <div class="home-scroll">
              Scroll para más
        </div>
</div> 

     <!-- info
      ================================================== -->
<div class="home_info">
  <div class="home_row_info">
            <div class="home_col-md-6">
                 <h2 class="home_h2">
                    ¿Qué hacemos?
                    <img class="home_img" src="{% static 'core/img/perico.jpg' %}"  height="600" width="700">
                </h2>
             </div>

  <div class="home_cont_info">
            <div class="home_col-md-6">
               <div class="home_card_info">
                    <h3 class="home_h3"> DEMOCRATIZAMOS EL CONOCIMIENTO</h3>
                       <p class="home_txt-centro">Contenido digital, multidisciplinario que busca el desarrollo para generar proyectos con enfoque social y tecnológico.</p>
                 </div>
                </div>
              
  <div class="home_cont_info">           
            <div class="home_col-md-6">
              <div class="home_card_info">    
                    <h3 class="home_h3">FOMENTAMOS EL PENSAMIENTO CREATIVO</h3>
                      <p class="home_txt-centro">Talleres que detonan la creatividad para encontrar soluciones a problemas actuales </p>
                 </div>
                </div>
  
  <div class="home_cont_info">
          <div class="home_col-md-6">
            <div class="home_card_info">
                  <h3 class="home_h3">CREAMOS ESPACIOS ABIERTOS</h3>
                    <p class="home_txt-centro">Eventos, festivales y exposiciones que llevan las herramientas y el conocimiento a donde se encuentra la creatividad mexicana </p>
                 </div>
                </div>   
  </div>
</div>
</div>
</div>
  
<!-- -------------Formar Parte-------------- -->
<div class="home_parte">
    <h2 class="home_h2">¿Quieres formar parte? </h2>
      <div class="home_row_parte">
          <div class="home_col-md-6">
            <div class="home_maker">
              <div class="content_colores">
                <div class="content__container">
                  <h4 class="content__container__texto">
                    Makers to
                  </h4>
                  <ul class="content__container__list">
                    <li class="content__container__list__item">world !</li>
                    <li class="content__container__list__item">bob !</li>
                    <li class="content__container__list__item">users !</li>
                    <li class="content__container__list__item">everybody !</li>
                  </ul>
                </div>
              </div>
                       <h5 class="home_h5">Jóvenes con interés en la creación de soluciones y proyectos que requieren orientación y desarrollo de habilidades.</h5>
                          <a href="{% url 'signup' %}">
                             <button class="home_btn">Sé un Maker</button> 
                               </a>
                         </div>
                        </div>

 <div class="home_col-md-6">
    <div class="home_friend">
      <div class="content_colores_friends">
        <div class="content__container_friends">
          <h4 class="content__container__texto_friends">
            Friends to
          </h4>
          <ul class="content__container__list_friends">
            <li class="content__container__list__item">world !</li>
            <li class="content__container__list__item">bob !</li>
            <li class="content__container__list__item">users !</li>
            <li class="content__container__list__item">everybody !</li>
          </ul>
        </div>
      </div>
              <h5 class="home_h5">Alianzas especializadas que ayudan a la construcción de estos proyectos a través de un acuerdo de beneficio mutuo.</h5>
                 <a href="{% url 'friend' %}">
                    <button class="home_btn">Sé un Friend</button> 
                       </a>
                </div>
</div></div></div>

<!-- -------------Aliados-------------- -->
<div class="home_aliados" style="background-color:#000000">
<h2 class="home_h2">Conoce a nuestros aliados </h2>

<ul class="home_partners">
  <a><img class="home_img_aliados" src="{% static 'core/img/friends/vexi.png' %}" ></a>
  <a><img class="home_img_aliados"src="{% static 'core/img/friends/cochinitob.png' %}"  height="150" width="150"></a>
  <a><img class="home_img_aliados" src="{% static 'core/img/friends/tesicafe.png' %}"  height="150" width="150"></a>
</ul>


{% endblock %}