/* fonts */
.contacto_contenedor{
	text-align: center;
	height: 250px;
	min-height: 400px;
	width: 100%;
	background: url(https://images.unsplash.com/photo-1503791228404-a79884146f98?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1314&q=80) center center;
  }
  
  .contacto_info_contenedor{
	  text-align: center;
	  color: #000;
	  font-weight: normal;
	  font-size: 1.3rem;
	  padding-top: 5rem;
	  font-family: Montserrat;
  }
  
  .contacto-info{
	  margin-left: 20rem;
	  margin-right: 20rem;
	  margin-bottom:3rem ;
  }
  
  .chatea{
	  text-decoration: none;
  }
  
  .contacto_contenedor h1{
	  text-align: left;
	  color: #DE2277;
	  margin: 0;
	  padding-top: 5rem;
	  font-size: 55px;
	  font-weight: 700;
	  text-transform: uppercase;
	  margin-left: 12.33333333%;
	  width: 33.66666667%;
	  position: relative;
	  font-family: montserrat;
  }
  
  .contacto-row h2{
	  text-align: center;
	  color: #DE2277;
	  font-weight: bold;
	  font-size: 1rem;
	  padding-top: 1rem;
  }

  .contacto h3{
	text-align: center;
	color: #000;
	font-weight: bold;
	font-size: 1rem;
	padding-top: 1rem;
}

  
  .contacto_texto{
	  text-align: center;
	  font-size: 2rem;
	  font-family: montserrat;
	  margin-bottom: 3rem;
	  margin-top: 3rem;
  }
	 
	.contacto_col1, .contacto_col2, .contacto_col3 {
	  display: inline-block;
	  padding: 3%;
	  position: relative;
	  text-align: center;
	  
	}
	
	.contacto_ilustr{
	  height: 7rem;
	  margin-top: 1rem;
	}

	.contacto_container_preguntas {
		margin: 0 auto;
		padding: 4rem;
		width: 48rem;
	  }
	  
	  .contacto_preguntas_item {
		border-bottom: 1px solid #e5e5e5;
	  }
	  .contacto_preguntas_item button[aria-expanded=true] {
		border-bottom: 1px solid #de2276;
	  }
	  .contacto_preguntas button {
		position: relative;
		display: block;
		text-align: left;
		width: 100%;
		padding: 1em 0;
		color: #000;
		font-size: 1.15rem;
		font-weight: 400;
		border: none;
		background: none;
		outline: none;
	  }
	  .contacto_preguntas button:hover, .contacto_preguntas button:focus {
		cursor: pointer;
		color: #de2276;
	  }
	  .contacto_preguntas button:hover::after, .contacto_preguntas button:focus::after {
		cursor: pointer;
		color: #de2276;
		border: 1px solid #de2276;
	  }
	  .contacto_preguntas button .accordion-title {
		padding: 1em 1.5em 1em 0;
	  }
	  .contacto_preguntas button .contacto_preguntas_icon {
		display: inline-block;
		position: absolute;
		top: 18px;
		right: 0;
		width: 22px;
		height: 22px;
		border: 1px solid;
		border-radius: 22px;
	  }
	  .contacto_preguntas button .contacto_preguntas_icon::before {
		display: block;
		position: absolute;
		content: "";
		top: 9px;
		left: 5px;
		width: 10px;
		height: 2px;
		background: currentColor;
	  }
	  .contacto_preguntas button .contacto_preguntas_icon::after {
		display: block;
		position: absolute;
		content: "";
		top: 5px;
		left: 9px;
		width: 2px;
		height: 10px;
		background: currentColor;
	  }
	  .contacto_preguntas button[aria-expanded=true] {
		color: #de2276;
	  }
	  .contacto_preguntas button[aria-expanded=true] .contacto_preguntas_icon::after {
		width: 0;
	  }
	  .contacto_preguntas button[aria-expanded=true] + .contacto_preguntas_content {
		opacity: 1;
		max-height: 9em;
		transition: all 200ms linear;
		will-change: opacity, max-height;
	  }
	  .contacto_preguntas .contacto_preguntas_content {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: opacity 200ms linear, max-height 200ms linear;
		will-change: opacity, max-height;
	  }
	  .contacto_preguntas .contacto_preguntas_content p {
		font-size: 1rem;
		font-weight: 300;
		margin: 2em 0;
		font-family: montserrat;
	  }

	  .chatea_btn{
		width: 80%;
		height: 55px;
		background: #de2276;
		border: none;
		border-radius: 5px;
		font-size: 15px;
		font-weight: 500;
		font-family: montserrat;
		color: #fff;
		margin-top: 20px;
		cursor: pointer;
	  }