#mc_taller_cont_general_taller4{
    width: 100%;
    height: auto;
    background-color: RGB(246,245,245);
}
#mc_fin_taller4{
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: white;  */
}

#mc_fin_cont1_taller4{
    display: flex;
    width: 100%;
    height:auto;
    padding-top: 30px;
    /* background-color: aqua; */
}
#mc_fin_taller4_cont1_espaciador{
    width: 85%;
    height: auto;
    /* background-color: lightcyan; */
}
#mc_fin_taller4_cont1_img{
    width: 15%;
    height: auto;
    /* background-color: lightgreen; */
}
#mc_fin_taller4_cont1_img img{
    width: 60%;
    height: auto;
}

/* ------------------------------Laterl------------------------------ */
#mc_fin_taller4_lateral1{
    width: 10%;
    height: 700px;
    /* background-color: lightpink;  */
}
#mc_fin_taller4_lateral1_boton1{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 375px;
    border-radius: 50%;
    background-color: #DE2276;
}
#mc_fin_taller4_lateral1_boton1 a{
    text-decoration: none;
    color: white;
}
#mc_fin_taller4_lateral1_boton1 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
}

/* ------------------------------Lateral1------------------------------ */
/* ------------------------------Central------------------------------ */
#mc_fin_taller4_lateral1{
    width: 10%;
    height: 700px;
    /* background-color: lightpink;  */
}
#mc_fin_taller4_lateral1_boton1{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 375px;
    border-radius: 50%;
    background-color: #DE2276;
}
#mc_fin_taller4_lateral1_boton1 a{
    text-decoration: none;
    color: white;
}
#mc_fin_taller4_lateral1_boton1 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
}

/* ------------------------------Lateral1------------------------------ */
/* ------------------------------Central------------------------------ */
#mc_fin_taller4_central{
    width: 80%;
    height: 700px;
    /* background-color: lightskyblue;  */
}
#mc_fin_taller4_central_h1{
    text-align: center;
    font-size: 30px;
    font-family: Montserrat-Bold;
}
#mc_fin_taller4_central_h2{
    text-align: center;
    font-size: 25px;
    font-family: Montserrat-Bold;
    color: #DE2276;
    margin-bottom: 20px;
}
#mc_fin_taller4_central_h3{
    text-align: center;
    font-size: 25px;
    font-family: Montserrat-Bold;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.mc_fin_taller4_central_p{
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    font-family: Montserrat-Regular;
    line-height: 30px;
}


#mc_fin_taller4_central_op{
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: aquamarine; */
}

.mc_final_taller4_central_ops_green{
    display: block;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #DE2276;
    cursor: pointer;
}
.mc_final_taller4_central_ops_red{
    display: block;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #DE2276;
    cursor: pointer;
}
.mc_final_taller4_central_ops_p{
    text-align: center;
    font-family: Montserrat-Regular;
}

.mc_final_taller4_central_ops_red:hover{
    background-color: red;
    color: white;
}
.mc_final_taller4_central_ops_green:hover{
    background-color: green;
    color: white;
}
/* ------------------------------Central------------------------------ */
/* ------------------------------Lateral2------------------------------ */
#mc_fin_taller4_lateral2{
    width: 10%;
    height: 700px;
    /* background-color: lightgreen;  */
}
#mc_fin_taller4_lateral2_boton2{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 375px;
    border-radius: 50%;
    background-color: #DE2276;
}
#mc_fin_taller4_lateral2_boton2 a{
    text-decoration: none;
    color: white;
}
#mc_fin_taller4_lateral2_boton2 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
}
/* ------------------------------Lateral2------------------------------ */