#mc_taller_cont_general_taller5{
    width: 100%;
    height: auto;
    background-color: RGB(246,245,245);
}
#mc_fin_taller5{
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: black;  */
}

#mc_fin_cont1_taller5{
    display: flex;
    width: 100%;
    height:auto;
    padding-top: 30px;
    /* background-color: aqua; */
}
#mc_fin_taller5_cont1_espaciador{
    width: 85%;
    height: auto;
    /* background-color: lightcyan; */
}
#mc_fin_taller5_cont1_img{
    width: 15%;
    height: auto;
    /* background-color: lightgreen; */
}
#mc_fin_taller5_cont1_img img{
    width: 60%;
    height: auto;
}

/* ------------------------------Laterl------------------------------ */
#mc_fin_taller5_lateral1{
    width: 10%;
    height: 700px;
    /* background-color: lightpink;  */
}
#mc_fin_taller5_lateral1_boton1{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 375px;
    border-radius: 50%;
    background-color: #DE2276;
}
#mc_fin_taller5_lateral1_boton1 a{
    text-decoration: none;
    color: white;
}
#mc_fin_taller5_lateral1_boton1 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
}

/* ------------------------------Lateral1------------------------------ */
/* ------------------------------Central------------------------------ */
#mc_fin_taller5_central{
    width: 80%;
    height: 700px;
    /* background-color: lightskyblue;  */
}
#mc_fin_taller5_central_h1{
    text-align: center;
    font-size: 30px;
    font-family: Montserrat-Bold;
}
#mc_fin_taller5_central_h2{
    text-align: center;
    font-size: 25px;
    font-family: Montserrat-Bold;
    color: #DE2276;
    margin-bottom: 20px;
}
.mc_fin_taller5_central_h4{
    text-align: center;
    font-size: 23px;
    font-family: Montserrat-Bold;
    margin-top: 30px;
}
.mc_fin_taller5_central_p{
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    font-family: Montserrat-Regular;
    margin-top: 20px;
}

/* ------------------------------Central------------------------------ */
/* ------------------------------Lateral2------------------------------ */
#mc_fin_taller5_lateral2{
    width: 10%;
    height: 700px;
    /* background-color: lightgreen;  */
}
#mc_fin_taller5_lateral2_boton2{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 375px;
    border-radius: 50%;
    background-color: #DE2276;
}
#mc_fin_taller5_lateral2_boton2 a{
    text-decoration: none;
    color: white;
}
#mc_fin_taller5_lateral2_boton2 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
}
/* ------------------------------Lateral2------------------------------ */
/* ------------------------------calculadora------------------------------ */
#calculator_mc {
    width: 325px;
    height: auto;
    padding: 20px 20px 9px;
    /* background: #none; */
    /* background: linear-gradient(#c9dd84, #9fcb96); */
    border-radius: 5px;
    font-family: montserrat;
    position: relative;
    top: -42%;
    left: 80px;
    
  }
  
  /* Top */
  .top  span.clear{
    float: left;
  }
  
  /* Screen styling */
  
  
  .top .screen {
    height:90px;
    width: 100%;
    padding: 0 10px;
    background: rgba(154, 185, 188, 0.8);
    border-radius: 5px;
    margin-bottom:10px;
    /* Typography */
    font-size: 30px;
    line-height: 90px;
    color: white;
    text-align: right;
    overflow:auto;
  }
  
  /* Clear floats */
  .keys  {
    overflow: hidden;
  }
  
  /* Keys */
  .keys span, .top span.clear {
    float: left;
    position: relative;
    top: 0;
    background: #DE2277;
    font-size:27px;
    cursor: pointer;
    width: 66px;
    height: 46px;
    border-radius: 5px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: #ffffff;
    line-height: 46px;
    text-align: center;
    user-select: none;
    outline: 0 solid;
    /* hover and active state transitions */
    transition: all 0.2s ease;
  }
  
  /* Unique key styling */
  .keys span.operator {
    background: #000;
    margin-right: 0;
  }
  
  .keys span.operator sup {
    font-size: 50%;
    vertical-align: top;
    color:#ffffff;
  }
  
  .keys span.eval {
    background: #666666;
    box-shadow: 0px 4px #474747;
    color: #fff;
    width: 212px;
  }
  
  span.clear {
    background: #DE2277;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* hover effects */
  .keys span:hover {
    background: #000;
    color: white;
  }
  
  .keys span.eval:hover {
    background: #a3a3a3;
    box-shadow: 0px 4px #3b3b3b;
    color: #ffffff;
  }
  
  .keys span.operator:hover {
    background: #DE2277;
    color: #ffffff;
  }

.mc_fin_taller5_central_p_2{
text-align: center;
font-size: 20px;
font-family: Montserrat;
display: flex;
position: relative;
right: -50%;
width: 45%;
top: 10%;
}

.mc_fin_taller5_central_p_2_N{
    text-align: center;
    font-size: 20px;
    font-family: Montserrat-bold;
    display: flex;
    position: relative;
    right: -50%;
    width: 45%;
    top: 10%;
    padding: 15px;
    }