#teca_taller_cont_general_taller8{
    width: 100%;
    height: auto;
    background-color: RGB(246,245,245);
}
#teca_tesis_taller8{
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: cadetblue;  */
}

#teca_tesis_cont1_taller8{
    display: flex;
    width: 100%;
    height:auto;
    padding-top: 30px;
    /* background-color: aqua; */
}
#teca_tesis_taller8_cont1_espaciador{
    width: 85%;
    height: auto;
    /* background-color: lightcyan; */
}
#teca_tesis_taller8_cont1_img{
    width: 15%;
    height: auto;
    /* background-color: lightgreen; */
}
#teca_tesis_taller8_cont1_img img{
    width: 60%;
    height: auto;
}

/* ------------------------------Laterl------------------------------ */
#teca_tesis_taller8_lateral1{
    width: 10%;
    height: 700px;
    /* background-color: lightpink;  */
}
#teca_tesis_taller8_lateral1_boton1{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 375px;
    border-radius: 50%;
    background-color: #DE2276;
}
#teca_tesis_taller8_lateral1_boton1 a{
    text-decoration: none;
    color: white;
}
#teca_tesis_taller8_lateral1_boton1 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
}

/* ------------------------------Lateral1------------------------------ */
/* ------------------------------Central------------------------------ */
#teca_tesis_taller8_central{
    width: 80%;
    height: 700px;
    /* background-color: lightskyblue;  */
}
#teca_tesis_taller8_central_h1{
    text-align: center;
    font-size: 30px;
    font-family: Montserrat-Bold;
}
#teca_tesis_taller8_central_p{
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    font-family: Montserrat-Regular;
}
#teca_tesis_taller8_central_h2{
    text-align: center;
    font-size: 25px;
    font-family: Montserrat-Bold;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #DE2276;
}

.teca_tesis_taller8_book-store {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    height: 42vh;
    background-color: var(--page-bg-color);
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 2px 50px 10px rgba(0, 0, 0, 0.21);
    margin-top: 4rem;
  }
  
  .teca_tesis_taller8_book-slide {
    width: 100%;
  }
  
  .teca_tesis_taller8_book {
    background: #fff;
  }
  
  .teca_tesis_taller8_book-cell {
    position: relative;
    display: flex;
    padding: 25px;
    width: 42%;
    height: 250px;
    margin-right: 1px;
  }
  
  .teca_tesis_taller8_book-photo {
    width: 180px;
    flex-shrink: 0;
    bottom: -35px;
    left: 35px;
    border-radius: 2px;
    box-shadow: -2px 6px 19px 0px #7f818e;
    transition: 0.3s ease;
  }
  .teca_tesis_taller8_book-photo:hover {
    transform: scale(1.03);
  }
  
  .teca_tesis_taller8_book-img {
    flex-shrink: 0;
  }
  
  .teca_tesis_taller8_book-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .teca_tesis_taller8_book-title {
    color: #de2276;
    font-weight: 600;
  }
  
  .teca_tesis_taller8_book-content {
    padding: 0 20px;
    color: #000;
    overflow: hidden;
  }
  
  .teca_tesis_taller8_book-sum{
  margin-top: 10px;
  font-family: montserrat;
  }
  
  fieldset,
  label {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
  }
  
  .teca_tesis_taller8_book-see {
    margin-top: 22px;
    text-align: center;
    background-color: #de2276;
    color: #fff;
    font-weight: 600;
    padding: 8px;
    font-size: 14px;
    width: 160px;
    border-radius: 20px;
  }
  
/* ------------------------------Central------------------------------ */
/* ------------------------------Lateral2------------------------------ */
#teca_tesis_taller8_lateral2{
    width: 10%;
    height: 700px;
    /* background-color: lightgreen;  */
}
#teca_tesis_taller8_lateral2_boton2{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 375px;
    border-radius: 50%;
    background-color: #DE2276;
}
#teca_tesis_taller8_lateral2_boton2 a{
    text-decoration: none;
    color: white;
}
#teca_tesis_taller8_lateral2_boton2 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
}
/* ------------------------------Lateral2------------------------------ */