#teca_taller_cont_general_taller7{
    width: 100%;
    height: auto;
    background-color: RGB(246,245,245);
}
#teca_tesis_taller7{
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    padding-bottom: 50px;
    /* background-color: cadetblue;  */
}

#teca_tesis_cont1_taller7{
    display: flex;
    width: 100%;
    height:auto;
    padding-top: 30px;
    /* background-color: aqua; */
}
#teca_tesis_taller7_cont1_espaciador{
    width: 85%;
    height: auto;
    /* background-color: lightcyan; */
}
#teca_tesis_taller7_cont1_img{
    width: 15%;
    height: auto;
    /* background-color: lightgreen; */
}
#teca_tesis_taller7_cont1_img img{
    width: 60%;
    height: auto;
}

/* ------------------------------Laterl------------------------------ */
#teca_tesis_taller7_lateral1{
    width: 10%;
    height: 700px;
    /* background-color: lightpink;  */
}
#teca_tesis_taller7_lateral1_boton1{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 375px;
    border-radius: 50%;
    background-color: #DE2276;
}
#teca_tesis_taller7_lateral1_boton1 a{
    text-decoration: none;
    color: white;
}
#teca_tesis_taller7_lateral1_boton1 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
}

/* ------------------------------Lateral1------------------------------ */
/* ------------------------------Central------------------------------ */
#teca_tesis_taller7_central{
    width: 80%;
    height: 700px;
    /* background-color: lightskyblue;  */
}
#teca_tesis_taller7_central_h1{
    text-align: center;
    font-size: 30px;
    font-family: Montserrat-Bold;
}
#teca_tesis_taller7_central_p{
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    font-family: Montserrat-Regular;
}
#teca_tesis_taller7_central_h2{
    text-align: center;
    font-size: 25px;
    font-family: Montserrat-Bold;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #DE2276;
}

/*===== DRAG and DROP =====*/
.teca_tesis_taller7_container,
.teca_tesis_taller7_drop {
  display: grid;
}

.teca_tesis_taller7_container {
 margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.teca_tesis_taller7_drop{
  row-gap: 1rem;
  padding: 2rem;
  box-shadow: 4px 4px 16px #e1e1e1;
  box-shadow: 0px 4px 12px -1px rgba(0, 0, 0, 0.35);
}
.teca_tesis_taller7_drop > div:nth-child(1) {
  background: #ffdd99;
}
.teca_tesis_taller7_drop > div:nth-child(2) {
  background: #bfc1ff;
}
.teca_tesis_taller7_drop > div:nth-child(3) {
  background: #fcb8b3;
}
.teca_tesis_taller7_drop > div:nth-child(4) {
  background: #bfffc5;
}
.teca_tesis_taller7_drop > div:nth-child(5) {
  background: #d8bfff;
}


.teca_tesis_taller7_card,
.teca_tesis_taller7_data {
  display: flex;
  align-items: center;
}

.teca_tesis_taller7_card {
  width: 360px;
  justify-content: space-between;
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  background-color: #f8f8fc;
  box-shadow: 4px 4px 16px #e1e1e1, -2px -2px 16px #fff;
  border-radius: 2.5rem;
}

.teca_tesis_taller7_img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
  background-color: #ffff;
}

.teca_tesis_taller7_name {
  font-size: 1rem;
  color: #000;
  font-weight: 500;
}

/* Class name for the chosen item */
.sortable-chosen {
  box-shadow: 8px 8px 32px #e1e1e1;
}

/* Class name for the dragging item */
.sortable-drag {
  opacity: 0;
}
/* ------------------------------Central------------------------------ */
/* ------------------------------Lateral2------------------------------ */
#teca_tesis_taller7_lateral2{
    width: 10%;
    height: 700px;
    /* background-color: lightgreen;  */
}
#teca_tesis_taller7_lateral2_boton2{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 375px;
    border-radius: 50%;
    background-color: #DE2276;
}
#teca_tesis_taller7_lateral2_boton2 a{
    text-decoration: none;
    color: white;
}
#teca_tesis_taller7_lateral2_boton2 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
}
/* ------------------------------Lateral2------------------------------ */