#tesi_cafe_cont_general_taller10{
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aqua;
}

#tesi_cafe_cont_central_taller10{
    width: 80%;
    height: fit-content;
    margin: auto;
    background-color: lightgoldenrodyellow;
}

#tesi_cafe_central_encabezado_taller10{
    width: 100%;
    height: 200px;
    background-color: lightgreen;
}

#tesi_cafe_central_contenido_taller10{
    display: flex;
    width: 100%;
    height: 700px;
    background-color: lightgray;
}

/* ------------------------------Laterl------------------------------ */
#tesi_cafe_central_lateral1_taller10{
    width: 10%;
    height: 700px;
    background-color: indigo; 
}
#tesi_cafe_central_lateral1_boton1_taller10{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 350px;
    border-radius: 50%;
    background-color: #DE2276;
}
#tesi_cafe_central_lateral1_boton1_taller10 a{
    text-decoration: none;
    color: white;
}
#tesi_cafe_central_lateral1_boton1_taller10 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
}

/* ------------------------------Lateral1------------------------------ */
/* ------------------------------Central------------------------------ */
#tesi_cafe_central_central_taller10{
    width: 80%;
    height: 700px;
    background-color: ivory;
}
/* ------------------------------Central------------------------------ */
/* ------------------------------Lateral 2------------------------------ */

#tesi_cafe_central_lateral2_taller10{
    width: 10%;
    height: 700px;
    background-color: indianred; 
}
#tesi_cafe_central_lateral2_boton2_taller10{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 350px;
    border-radius: 50%;
    background-color: #DE2276;
}
#tesi_cafe_central_lateral2_boton2_taller10 a{
    text-decoration: none;
    color: white;
}
#tesi_cafe_central_lateral2_boton2_taller10 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
}

/* ------------------------------Lateral 2------------------------------ */