#teca_inicio_header_img{
    width: 100%;
    height: 350px;
    margin: auto;
    background-image: url(https://images.unsplash.com/photo-1615677679660-b923aed9b88e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -350px;
}
#teca_inicio_header_menu{
    width: 100%;
    height: 60px;
    background-color: black;
}
#teca_inicio_header_menu_cont{
    display: flex;
    width: 40%;
    height: 60px;
    margin-left: 550px;
    
}
.teca_inicio_menu{
    
    width: 33%;
    height: 50px;
    margin-top: 5px;
    line-height: 50px;
    text-align: center;
    transition: all 300ms;
}

.teca_inicio_menu a{
    display: block;
    font-family: Montserrat-Medium;
    font-size: 15px;
    color: white;
    letter-spacing: 3px;
    transition: all 300ms;
}
.teca_inicio_menu a:hover{
    transform: scale(1.2,1.2);
    color: #DE2276;
}

#teca_img_tesicafe{
    position: absolute;
    top: 250px;
    left: 255px;
    width: 300px;
    height: 250px;
    background-color: white;
    box-shadow: 0px 0px 3px 2px gray;
}
#teca_img_tesicafe img{
    width: 100%;
    margin-top: 60px;
}
/*----------------------------------------------------------------------------------------------------------*/
.teca_h1_cont_central{
    text-align: center;
    font-family: Montserrat-SemiBold;
    font-size: 35px;
    color: RGB(222,34,118);
}
.teca_cont_central{
    text-align: center;
    font-family: Montserrat-Medium;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 30px;
}
.teca_h3_cont_tex{
    text-align: center;
    font-family: Montserrat-SemiBold;
    font-size: 20px;
    margin-bottom: 30px;
    color: RGB(222,34,118);
}
.teca_p_cont_text{
    text-align: center;
    font-family: Montserrat-Light;
    font-size: 17px;
    line-height: 30px;
}
/*----------------------------------------------------------------------------------------------------------*/
#teca_inicio_cont_central{
    width: 100%;
    height: auto;
    padding-top: 20px;
    background-color: RGB(246,245,245);
}
#teca_inicio_cont_central1{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: 1px solid black; */
}

#teca_inicio_cont_central1_cont2{
   
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    /* background-color: lightseagreen; */
}

.teca_inicio_cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: auto;
    width: max-content;
  }
  
  .teca_inicio_card {
    font-family: Montserrat;
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    text-decoration: none;
  }
  
  .teca_inicio_card:hover {
    transform: rotate(0);
  }
  
  .teca_inicio_card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
  }
  
  .teca_inicio_card p {
    font-size: 0.7em;
    font-family: Montserrat;
    margin-top: 0.5em;
    line-height: 1em;
    margin-bottom: 15px;
  }
  
  .teca_inicio_card .teca_inicio_tags {
    display: flex;
  }
  
  .teca_inicio_card .teca_inicio_tags .teca_inicio_tag {
    font-size: 0.75em;
    background: rgba(255,255,255,0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
  }
  
  .teca_inicio_card:hover .teca_inicio_tags .teca_inicio_tag {
    background: #de2276;
    color: white;
  }
  
  .teca_inicio_card:before, .teca_inicio_card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }
  
  .teca_inicio_card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
  }
  
  .teca_inicio_card:after {
    background: white;
    width: 200%;
    height: 200%;
  }
  
  .teca_inicio_card:hover {
    color:#000 ;
  }
  
  
  
  .teca_inicio_card:hover:before, .teca_inicio_card:hover:after {
    transform: scale(1);
  }
/*----------------------------------------------------------------------------------------------------------*/
#teca_inicio_cont_final{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}
#teca_final_cont_central{
    width: 75%;
    height: auto;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: white; */
}
/*--------------------------------------*/
#teca_final_central_cont1{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    /* background-color: lightcoral; */
}
#teca_final_central_cont1 h2{
    text-align: center;
    font-family: Montserrat-SemiBold;
    font-size: 35px;
    color: white;
}
/*--------------------------------------*/
#teca_final_central_cont2{
    display: flex;
    width: 100%;
    height: auto;
    /* background-color: lightcyan; */
}
.teca_final_cont2_datos{
    width: 33.33%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.teca_p_datos{
    text-align: center;
    color: RGB(222,34,118);
    font-family: Montserrat-Bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.teca_p_datos_text{
    text-align: center;
    font-family: Montserrat-SemiBold;
    font-size: 20px;
    color: white;
}
/*----------------------------------------------------------------------------------------------------------*/
#teca_final_central_cont3{
    width: 85%;
    margin: auto;
    min-height: 100px;
    /* background-color: lightpink; */
    padding-top: 60px;
    cursor: pointer;
}
#teca_h2_cont3{
    text-align: center;
    margin-top: 15px;
    font-family: Montserrat-SemiBold;
    font-size: 30px;
    color: white;
}
#teca_p_cont3{
    text-align: center;
    margin-top: 20px;
    font-family: Montserrat-SemiBold;
    font-size: 30px;
    color: RGB(222,34,118);
}

#teca_cont3_pf{
    display: none; 
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 50px;
    /* background-color: lightskyblue; */
    
}
#teca_final_central_cont3:hover #teca_cont3_pf{
    display: block;
    
}
.teca_h5_cont3_pfs{
    margin-top: 20px;
    text-align: center;
    color: RGB(222,34,118);
    font-family: Montserrat-Medium;
    font-size: 20px;
    letter-spacing: 3px;
}
.teca_p_cont3_ps{
    margin-top: 15px;
    text-align: center;
    color: white;
    font-family: Montserrat-Regular;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 20px;
}
/*----------------------------------------------------------------------------------------------------------*/
#teca_final_central_cont4{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: yellowgreen; */
}
#teca_final_central_cont4_boton{
    width: 230px;
    height: 70px;
    margin: auto;
    border-radius: 5px;
    background-color: RGB(222,34,118);
    font-weight: 500;
    cursor: pointer;
}
#teca_a_cont4_boton{
    text-decoration: none;
    text-align: center;
    margin: auto;
    color: white;
    line-height: 70px;
    font-family: Montserrat-Medium;
    font-size: 17px;
}
/*----------------------------------------------------------------------------------------------------------*/
