#vexi_taller_cont_general_taller9{
    width: 100%;
    height: auto;
    background-color: RGB(246,245,245);
  }
  #vexi_edu_taller9{
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: cadetblue;  */
  }
  #vexi_edu_cont1_taller9{
  display: flex;
  width: 100%;
  height:auto;
  padding-top: 30px;
  /* background-color: aqua; */
  }
  #vexi_edu_taller9_cont1_espaciador{
  width: 85%;
  height: auto;
  /* background-color: lightcyan; */
  }
  #vexi_edu_taller9_cont1_img{
  width: 15%;
  height: auto;
  /* background-color: lightgreen; */
  }
  #vexi_edu_taller9_cont1_img img{
  width: 60%;
  height: auto;
  }
  
  /* ------------------------------Laterl------------------------------ */
  #vexi_edu_taller9_lateral1{
    width: 10%;
    height: 700px;
    /* background-color: lightpink;  */
  }
  #vexi_edu_taller9_lateral1_boton1{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 375px;
    border-radius: 50%;
    background-color: #DE2276;
  }
  #vexi_edu_taller9_lateral1_boton1 a{
    text-decoration: none;
    color: white;
  }
  #vexi_edu_taller9_lateral1_boton1 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
  }
  
  
  /* ------------------------------Lateral1------------------------------ */
  /* ------------------------------Central------------------------------ */
  #vexi_edu_taller9_central{
  width: 80%;
  /* background-color: lightskyblue;  */
  }
  
  #vexi_edu_taller9_central_h1{
  text-align: center;
  font-size: 30px;
  font-family: Montserrat-Bold;
  }
  .vexi_edu_taller9_central_p{
  text-align: center;
  font-size: 20px;
  font-family: Montserrat-Regular;
  }
  #vexi_edu_taller9_central_h2{
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
  font-family: Montserrat-SemiBold;
  color: #DE2276;
  }
  
  .vexi_taller9_beneficios {
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
  }
  
  .vexi_taller9_beneficios_section{
    margin: 0 auto;
    max-width: 37.5rem;
  }
  
  /**
   * Components
   */
  
  
  .c-article__link {
    align-items: center;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    margin: 1.875rem 0;
    padding: 1.25rem;
    text-decoration: none;
  }
  .c-article__link * {
    pointer-events: none;
  }
  
  .vexi_taller9_beneficios_article_heading {
    font-size: 1.25rem;
    margin: 0.625rem 0;
  }
  
  .vexi_taller9_beneficios_article_content {
    line-height: 1.5;
    margin: 0.625rem 0;
  }
  
  .vexi_taller9_beneficios_article_img-wrapper {
    height: 6.25rem;
    margin-left: 1.25rem;
    min-width: 10rem;
    width: 10rem;
  }
  
  .vexi_taller9_beneficios_article_img {
    border-radius: 0.125rem;
    display: block;
    height: 100%;
    filter: grayscale(1);
    -o-object-fit: cover;
       object-fit: cover;
    transition: filter 0.3s ease-in;
    width: 100%;
  }
  .c-article__link:hover .vexi_taller9_beneficios_article_img {
    filter: grayscale(0);
  }
  
  .c-magic-area {
    position: absolute;
    z-index: -1;
  }
  
  .c-magic-area--content {
    background-color: var(--gray);
    border-radius: 0.125rem;
  }
  .c-magic-area--content::before {
    background-color: var(--black);
    content: "";
    height: 70%;
    left: -0.1875rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0.375rem;
  }
  

  /* ------------------------------Central------------------------------ */
  /* ------------------------------Lateral2------------------------------ */
  #vexi_edu_taller9_lateral2{
    width: 10%;
    height: 700px;
    /* background-color: lightgreen;  */
  }
  #vexi_edu_taller9_lateral2_boton2{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 375px;
    border-radius: 50%;
    background-color: #DE2276;
  }
  #vexi_edu_taller9_lateral2_boton2 a{
    text-decoration: none;
    color: white;
  }
  #vexi_edu_taller9_lateral2_boton2 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;

  }
  /* ------------------------------Lateral2------------------------------ */