#vexi_taller_cont_general_taller4{
  width: 100%;
  height: auto;
  background-color: RGB(246,245,245);
}
#vexi_edu_taller4{
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: cadetblue;  */
}
#vexi_edu_cont1_taller4{
display: flex;
width: 100%;
height:auto;
padding-top: 30px;
/* background-color: aqua; */
}
#vexi_edu_taller4_cont1_espaciador{
width: 85%;
height: auto;
/* background-color: lightcyan; */
}
#vexi_edu_taller4_cont1_img{
width: 15%;
height: auto;
/* background-color: lightgreen; */
}
#vexi_edu_taller4_cont1_img img{
width: 60%;
height: auto;
}

/* ------------------------------Laterl------------------------------ */
#vexi_edu_taller4_lateral1{
  width: 10%;
  height: 700px;
  /* background-color: lightpink;  */
}
#vexi_edu_taller4_lateral1_boton1{
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 375px;
  border-radius: 50%;
  background-color: #DE2276;
}
#vexi_edu_taller4_lateral1_boton1 a{
  text-decoration: none;
  color: white;
}
#vexi_edu_taller4_lateral1_boton1 a p{
  text-align: center;
  line-height: 50px;
  font-size: 40px;    
}

/* ------------------------------Lateral1------------------------------ */
/* ------------------------------Central------------------------------ */
#vexi_edu_taller4_central{
width: 80%;
height: 700px;
/* background-color: lightskyblue;  */
}

#vexi_edu_taller4_central_h1{
text-align: center;
font-size: 30px;
font-family: Montserrat-Bold;
}
.vexi_edu_taller4_central_p{
text-align: center;
font-size: 20px;
font-family: Montserrat-Regular;
}
#vexi_edu_taller4_central_h2{
text-align: center;
margin-top: 40px;
font-size: 25px;
font-family: Montserrat-SemiBold;
color: #DE2276;
}

* {
  box-sizing: border-box;
}

.progress .progress_inner{
position: absolute;
left: 0;
right: 0;
top: 50%;
transform: translateY(-50%);
margin: auto;
}

.progress_inner {
  height: 200px;
  width: 700px;
}

.progress_inner__step {
  width: 20%;
  font-size: 14px;
  padding: 0 10px;
  transition: all 0.4s;
  float: left;
  text-align: center;
  position: relative;
  font-size: 14px;
  text-align: center;
}

.progress_inner__step:nth-of-type(1)::before {
  content: "1";
}
.progress_inner__step:nth-of-type(2)::before {
  content: "2";
}
.progress_inner__step:nth-of-type(3)::before {
  content: "3";
}
.progress_inner__step:nth-of-type(4)::before {
  content: "4";
}
.progress_inner__step:nth-of-type(4)::before {
  content: "5";
}
  .progress_inner__step::before {
    width: 30px;
    height: 30px;
    color: #70afd0;
    background: white;
    line-height: 30px;
    border: 3px solid #a6cde2;
    font-size: 12px;
    top: 3px;
    border-radius: 100%;
    transition: all 0.4s;
    cursor: pointer;
    pointer-events: none;
  }

  .progress_inner__step label {
    padding-top: 50px;
    top: -20px;
    display: block;
    position: relative;
    cursor: pointer;
  }

  .progress_inner input[type="radio"] {
    display: none;
  }

  .progress_inner__bar--set {
    width: 80%;
    top: -6px;
    background: #70afd0;
    position: relative;
    z-index: -2;
  }
  
  .progress_inner__bar--set, .progress_inner__bar {
    height: 6px;
    left: 10%;
    background: repeating-linear-gradient(45deg, #1ea4ec, #1ea4ec 4px, #1f8bc5 4px, #1f8bc5 10px);
    transition: width 800ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
    border-radius: 6px;
    width: 0;
    position: relative;
    z-index: -1;
  }

  .progress_inner__tabs .tab {
    opacity: 0;
    position: absolute;
    top: 40px;
    text-align: center;
    margin-top: 80px;
    box-shadow: 0px 2px 1px #80b7d5;
    padding: 30px;
    background: white;
    border-radius: 10px;
    transition: all 0.2s;
  }

  .progress_inner__tabs .tab p {
    font-weight: 400;
    opacity: 0.8;
  }
/* ------------------------------Central------------------------------ */
/* ------------------------------Lateral2------------------------------ */
#vexi_edu_taller4_lateral2{
  width: 10%;
  height: 700px;
  /* background-color: lightgreen;  */
}
#vexi_edu_taller4_lateral2_boton2{
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 375px;
  border-radius: 50%;
  background-color: #DE2276;
}
#vexi_edu_taller4_lateral2_boton2 a{
  text-decoration: none;
  color: white;
}
#vexi_edu_taller4_lateral2_boton2 a p{
  text-align: center;
  line-height: 50px;
  font-size: 40px;    
}

/* ------------------------------Lateral2------------------------------ */