#vexi_taller_cont_general_taller4{
  width: 100%;
  height: auto;
  background-color: RGB(246,245,245);
}
#vexi_edu_taller4{
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: cadetblue;  */
}
#vexi_edu_cont1_taller4{
display: flex;
width: 100%;
height:auto;
padding-top: 30px;
/* background-color: aqua; */
}
#vexi_edu_taller4_cont1_espaciador{
width: 85%;
height: auto;
/* background-color: lightcyan; */
}
#vexi_edu_taller4_cont1_img{
width: 15%;
height: auto;
/* background-color: lightgreen; */
}
#vexi_edu_taller4_cont1_img img{
width: 60%;
height: auto;
}

/* ------------------------------Laterl------------------------------ */
#vexi_edu_taller4_lateral1{
  width: 10%;
  height: 700px;
  /* background-color: lightpink;  */
}
#vexi_edu_taller4_lateral1_boton1{
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 375px;
  border-radius: 50%;
  background-color: #DE2276;
}
#vexi_edu_taller4_lateral1_boton1 a{
  text-decoration: none;
  color: white;
}
#vexi_edu_taller4_lateral1_boton1 a p{
  text-align: center;
  line-height: 50px;
  font-size: 40px;    
}

/* ------------------------------Lateral1------------------------------ */
/* ------------------------------Central------------------------------ */
#vexi_edu_taller4_central{
width: 80%;
height: 700px;
/* background-color: lightskyblue;  */
}

#vexi_edu_taller4_central_h1{
text-align: center;
font-size: 30px;
font-family: Montserrat-Bold;
}
.vexi_edu_taller4_central_p{
text-align: center;
font-size: 20px;
font-family: Montserrat-Regular;
}
#vexi_edu_taller4_central_h2{
text-align: center;
margin-top: 40px;
font-size: 25px;
font-family: Montserrat-SemiBold;
color: #DE2276;
}

.vexi_contenedor_timeline{
  height: 100%;
  width: 100%;
  margin-left: 5rem;
}

.vexi_timeline{
  position: relative;
  width: 40%;
  margin: auto;
  font-family: montserrat;
/*-------------------------------------------------------------->*/

}


/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  border-left: 10px solid #DE2276;
 /*------------------------------------>*/

}
#timeline li {
  margin: 40px 0;
  position: relative;
}
#timeline p {
  margin: 0 0 15px;
}

.content-left, .content-left_3{
  right: 120%;
}

.circle, .circle_2{
  margin-top: -10px;
  top: 50%;
  left: -30px;
  width: 10px;
  height: 10px;
  background: #DE2276;
  border: 25px solid #DE2276;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.circle-right, .circle-right_3{
  margin-top: -10px;
  top: 50%;
  left: 330px;
  width: 10px;
  height: 10px;
  background: #DE2276;
  border: 25px solid #DE2276;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.vexi_taller4_content, .vexi_taller4_content_2, .vexi_taller4_contnet_3 {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}

.vexi_taller4_content p,.vexi_taller4_content_2 p{
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
  color: #DE2276;
}


.vexi_taller4_content_3 p{
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
  color: #DE2276;
}

.vexi_edu_taller4_label1, .vexi_edu_taller4_label2, .vexi_edu_taller4_label3, .vexi_edu_taller4_label4 {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  transition: transform 0.2s linear;
  color: #000;
}

.vexi_edu_taller4_label1, .vexi_edu_taller4_label3{
  margin-left: 25px;
}

.vexi_taller4_radio, .radio_2, .radio_3 {
  display: none;
}

.vexi_taller4_radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}
.vexi_taller4_radio:checked ~ .vexi_taller4_content {
  max-height: 180px;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.vexi_taller4_radio:checked ~ .vexi_taller4_content p {
  max-height: 200px;
  transition: color 0.3s linear 0.3s;
}

/* label right 2 */

.radio_2:checked + .relative_2 .vexi_edu_taller4_label3 {
  cursor: auto;
  transform: translateX(42px);
}

.radio_2:checked ~ .vexi_taller4_content_2 {
  max-height: 180px;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}

.radio_2:checked ~ .vexi_taller4_content_2 p {
  max-height: 200px;
  transition: color 0.3s linear 0.3s;
}

/* label left 2 */

.radio_3:checked + .relative_3 .label_3 {
  cursor: auto;
  transform: translateX(42px);
}


.radio_3:checked ~ .vexi_taller4_content_3 {
  max-height: 180px;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}

.radio_3:checked ~ .vexi_taller4_content_3 p {
  max-height: 200px;
  transition: color 0.3s linear 0.3s;
  padding-top: 3.5rem;
  
}


/* ------------------------------Central------------------------------ */
/* ------------------------------Lateral2------------------------------ */
#vexi_edu_taller4_lateral2{
  width: 10%;
  height: 700px;
  /* background-color: lightgreen;  */
}
#vexi_edu_taller4_lateral2_boton2{
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 375px;
  border-radius: 50%;
  background-color: #DE2276;
}
#vexi_edu_taller4_lateral2_boton2 a{
  text-decoration: none;
  color: white;
}
#vexi_edu_taller4_lateral2_boton2 a p{
  text-align: center;
  line-height: 50px;
  font-size: 40px;    
}

/* ------------------------------Lateral2------------------------------ */