#vexi_taller_cont_general_taller4{
  width: 100%;
  height: auto;
  background-color: RGB(246,245,245);
}
#vexi_edu_taller4{
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: cadetblue;  */
}
#vexi_edu_cont1_taller4{
display: flex;
width: 100%;
height:auto;
padding-top: 30px;
/* background-color: aqua; */
}
#vexi_edu_taller4_cont1_espaciador{
width: 85%;
height: auto;
/* background-color: lightcyan; */
}
#vexi_edu_taller4_cont1_img{
width: 15%;
height: auto;
/* background-color: lightgreen; */
}
#vexi_edu_taller4_cont1_img img{
width: 60%;
height: auto;
}

/* ------------------------------Laterl------------------------------ */
#vexi_edu_taller4_lateral1{
  width: 10%;
  height: 700px;
  /* background-color: lightpink;  */
}
#vexi_edu_taller4_lateral1_boton1{
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 375px;
  border-radius: 50%;
  background-color: #DE2276;
}
#vexi_edu_taller4_lateral1_boton1 a{
  text-decoration: none;
  color: white;
}
#vexi_edu_taller4_lateral1_boton1 a p{
  text-align: center;
  line-height: 50px;
  font-size: 40px;    
}

/* ------------------------------Lateral1------------------------------ */
/* ------------------------------Central------------------------------ */
#vexi_edu_taller4_central{
width: 80%;
height: 700px;
/* background-color: lightskyblue;  */
}

#vexi_edu_taller4_central_h1{
text-align: center;
font-size: 30px;
font-family: Montserrat-Bold;
}
.vexi_edu_taller4_central_p{
text-align: center;
font-size: 20px;
font-family: Montserrat-Regular;
}
#vexi_edu_taller4_central_h2{
text-align: center;
margin-top: 40px;
font-size: 25px;
font-family: Montserrat-SemiBold;
color: #DE2276;
}

.vexi_contenedor_timeline{
  margin-left: 15rem;
  margin-top: 5rem;
}

/*-------------timeline------------------------------------- */
#timeline_vexi{
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 35px;
  border-left: 8px solid #de2276;
}
#timeline_vexi li {
  margin: 40px 0;
  position: relative;
}
#timeline_vexi p {
  margin: 0 0 15px;
}

.timeline_vexi_circle {
  margin-top: -10px;
  top: 30%;
  left: -60px;
  width: 40px;
  height: 40px;
  background: #de2276;
  border: 5px solid #de2276;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.timeline_vexi_content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}
.timeline_vexi_content:before, .timeline_vexi_content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.timeline_vexi_content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}

.timeline_vexi_content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

.timeline_vexi_label {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  transition: transform 0.2s linear;
  color: #000;
  font-weight: bold;
}

.radio_vexi {
  display: none;
}

.radio_vexi:checked + .relative_vexi .timeline_vexi_label {
  cursor: auto;
  transform: translateX(42px);
}
.radio_vexi:checked + .relative_vexi .timeline_vexi_circle {
  background: #fff;
}
.radio_vexi:checked ~ .timeline_vexi_content {
  max-height: 180px;
  margin-right: 15rem;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio_vexi:checked ~ .timeline_vexi_content p {
  max-height: 200px;
  color: #de2276;
  transition: color 0.3s linear 0.3s;
}



/* ------------------------------Central------------------------------ */
/* ------------------------------Lateral2------------------------------ */
#vexi_edu_taller4_lateral2{
  width: 10%;
  height: 700px;
  /* background-color: lightgreen;  */
}
#vexi_edu_taller4_lateral2_boton2{
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 375px;
  border-radius: 50%;
  background-color: #DE2276;
}
#vexi_edu_taller4_lateral2_boton2 a{
  text-decoration: none;
  color: white;
}
#vexi_edu_taller4_lateral2_boton2 a p{
  text-align: center;
  line-height: 50px;
  font-size: 40px;    
}

/* ------------------------------Lateral2------------------------------ */