#vexi_taller_cont_general_taller13{
    width: 100%;
    height: auto;
    background-color: RGB(246,245,245);
  }
  #vexi_edu_taller13{
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: cadetblue;  */
  }
  #vexi_edu_cont1_taller13{
  display: flex;
  width: 100%;
  height:auto;
  padding-top: 30px;
  /* background-color: aqua; */
  }
  #vexi_edu_taller13_cont1_espaciador{
  width: 85%;
  height: auto;
  /* background-color: lightcyan; */
  }
  #vexi_edu_taller13_cont1_img{
  width: 15%;
  height: auto;
  /* background-color: lightgreen; */
  }
  #vexi_edu_taller13_cont1_img img{
  width: 60%;
  height: auto;
  }
  
  /* ------------------------------Laterl------------------------------ */
  #vexi_edu_taller13_lateral1{
    width: 10%;
    height: 700px;
    /* background-color: lightpink;  */
  }
  #vexi_edu_taller13_lateral1_boton1{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 375px;
    border-radius: 50%;
    background-color: #DE2276;
  }
  #vexi_edu_taller13_lateral1_boton1 a{
    text-decoration: none;
    color: white;
  }
  #vexi_edu_taller13_lateral1_boton1 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
  }
  
  /* ------------------------------Lateral1------------------------------ */
  /* ------------------------------Central------------------------------ */
  #vexi_edu_taller13_central{
  width: 80%;
  height: 700px;
  /* background-color: lightskyblue;  */
  }
  
  #vexi_edu_taller13_central_h1{
  text-align: center;
  font-size: 30px;
  font-family: Montserrat-Bold;
  color: #000;
  }
  .vexi_edu_taller13_central_p{
  text-align: center;
  font-size: 20px;
  font-family: Montserrat-Regular;
  }
  #vexi_edu_taller13_central_h2{
  text-align: center;
  margin-top: 40px;
  font-size: 2rem;
  font-family: Montserrat-SemiBold;
  color: #DE2276;

  }

  #vexi_edu_taller13_crear{
    width: 100%;
    height: 200px;
    margin-top: 5rem;
    /* background-color: aqua; */
}

.vexi_edu_taller13_centro{
    display: block;
    width: 40%;
    height: 40px;
    margin: auto;
    padding-bottom: 13rem;
}

  
  .vexi_edu_taller13_pulse-button:hover {
    -webkit-animation: none;
  }

  @-webkit-keyframes pulse {
    0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  }

  .vexi_edu_taller13_central_p{
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    font-family: Montserrat-Regular;
}

#vexi_edu_taller13_central_botones{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    /* background-color: aqua; */
}
.vexi_edu_taller13_central_botones{
    width: 50%;
    height: auto;
}

.vexi_edu_taller13_boton{
    display: block;
    width: 40%;
    height: 40px;
    margin: auto;
    border-radius: 5px;
    background-color: #DE2276;
    cursor: pointer;
    font-weight: 500;
}
.vexi_edu_taller13_boton p{
    text-align: center;
    color: white;
    line-height: 40px;
}
  
.pulse-button_vexi {
  position: relative;
  top: 50%;
  left: 40%;
  margin-left: -50px;
  margin-top: -40px;
  display: block;
  width: 200px;
  height: 185px;
  border: none;
  border-radius: 50%;
  background-image: url(https://media.giphy.com/media/3o6ZtiA67229ANxT1u/source.gif);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(241, 73, 205, 0.5);
  -webkit-animation: pulse 1.5s infinite;
  

  font-weight: bold;
  color: #DE2276;
  font-size: 1.5rem;

}
  /* ------------------------------Central------------------------------ */
  /* ------------------------------Lateral2------------------------------ */
  #vexi_edu_taller12_lateral2{
    width: 10%;
    height: 700px;
    /* background-color: lightgreen;  */
  }
  #vexi_edu_taller12_lateral2_boton2{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 375px;
    border-radius: 50%;
    background-color: #DE2276;
  }
  #vexi_edu_taller12_lateral2_boton2 a{
    text-decoration: none;
    color: white;
  }
  #vexi_edu_taller12_lateral2_boton2 a p{
    text-align: center;
    line-height: 50px;
    font-size: 40px;    
  }
  /* ------------------------------Lateral2------------------------------ */