 .vexi_inicio{
     background-color: #f6f5f5;
 }

 /* Portada */

 .vexi_cover_page{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .vexi_cover_page img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .vexi_cover_page .vexi_btn {
    position: absolute;
    top: 30px;
    right: 25px;
  }
  
  .vexi_btn {
    padding: 10px 16px 10px;
    background: #DE2276;  
    font-size: .7rem;
    font-weight: 400;  
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all .25s ease-in-out;
  }
  
  .vexi_btn .vexi_btn_upload {
    display: none;
    width: 100%;
    height: 100%;
  }
  
  .vexi_logo{
    margin-top: -200px;
  }
  
  .vexi_logo_content .vexi_logo_img {
    width: 290px;
    height: 240px;
    position: relative;
    background-color: #fff;
    left: 220px;
  }
  .vexi_logo_content .vexi_logo_img .vexi_img {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }
  
  .vexi_bar{
    background-color: #000;
    width: 100%;
    height: 100%;
  }
  
  .vexi_bar_content{
    margin-left: 33rem;
  }
  
  .vexi_btn_bar{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.5rem;
    cursor: pointer;
  }
  .vexi_btn_bar:hover{
    color: #DE2276;
  }
  
  /* Contenido general */
  
  .vexi_info{
  background-color: #f6f5f5;
  color: #000;
  text-align: center;
  margin-top: 0;
  }
  
  .vexi_h1{
  margin-top: 5rem;
  color: #DE2276;
  }
  
  .vexi_p{
  text-align: center;
  padding-left: 17rem;
  padding-right: 17rem;
  font-size: 1.2rem;
  }
  
  .vexi_cursos{
  display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
  
.vexi_card {
  width: 320px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 4rem;
  margin-bottom: 3rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  
  }
  
  
.vexi_card_image {
  height: 200px;
  }
  
  .vexi_card_image img {
  display: block;
  width: 100%;
  height: inherit;
  object-fit: cover;
  }
  
  .vexi_card_content {
  padding: 2rem 1.8rem;
  
  }
  
  .vexi_h2 {
  margin: 0 0 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  }
  
  .vexi_card_description{
  font-size: 1rem;
  line-height: 1.4rem;
  }
  
  /* numeralia ----------------------------------------------------------------------*/
  
  #vexi_inicio_cont_final{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}
#vexi_final_cont_central{
    width: 75%;
    height: auto;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: white; */
}
/*--------------------------------------*/
#vexi_final_central_cont1{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    /* background-color: lightcoral; */
}
#vexi_final_central_cont1 h2{
    text-align: center;
    font-family: Montserrat-SemiBold;
    font-size: 35px;
    color: white;
}
/*--------------------------------------*/
#vexi_final_central_cont2{
    display: flex;
    width: 100%;
    height: auto;
    /* background-color: lightcyan; */
}
.vexi_final_cont2_datos{
    width: 33.33%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.vexi_p_datos{
    text-align: center;
    color: RGB(222,34,118);
    font-family: Montserrat-Bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.vexi_p_datos_text{
    text-align: center;
    font-family: Montserrat-SemiBold;
    font-size: 20px;
    color: white;
}
/*----------------------------------------------------------------------------------------------------------*/
#vexi_final_central_cont3{
    width: 85%;
    margin: auto;
    min-height: 100px;
    /* background-color: lightpink; */
    padding-top: 60px;
    cursor: pointer;
}
#vexi_h2_cont3{
    text-align: center;
    margin-top: 15px;
    font-family: Montserrat-SemiBold;
    font-size: 30px;
    color: white;
}
#vexi_p_cont3{
    text-align: center;
    margin-top: 20px;
    font-family: Montserrat-SemiBold;
    font-size: 30px;
    color: RGB(222,34,118);
}

#vexi_cont3_pf{
    display: none; 
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 50px;
    /* background-color: lightskyblue; */
    
}
#vexi_final_central_cont3:hover #vexi_cont3_pf{
    display: block;
    
}
.vexi_h5_cont3_pfs{
    margin-top: 20px;
    text-align: center;
    color: RGB(222,34,118);
    font-family: Montserrat-Medium;
    font-size: 20px;
    letter-spacing: 3px;
}
.vexi_p_cont3_ps{
    margin-top: 15px;
    text-align: center;
    color: white;
    font-family: Montserrat-Regular;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 20px;
}
/*----------------------------------------------------------------------------------------------------------*/
#vexi_final_central_cont4{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: yellowgreen; */
}
#vexi_final_central_cont4_boton{
    width: 230px;
    height: 70px;
    margin: auto;
    border-radius: 50px;
    background-color: RGB(222,34,118);
}
#vexi_a_cont4_boton{
    text-decoration: none;
    text-align: center;
    margin: auto;
    color: white;
    line-height: 70px;
    font-family: Montserrat-Medium;
    font-size: 17px;
}
/*----------------------------------------------------------------------------------------------------------*/
