
{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}
<div class="market_contenedor_principal">
<div class="market_header">
    ¿Qué haremos hoy {{user.get_username}}?
</div>

<div class="market_card">
<div class="market_container">
<div class="market_row active-with-click">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="material-card nombre">
            <h2>
                <span>
                    <a class="friends_link" href="{% url 'mi_cochinito_inicio' %}">
                MiCochinito.com
                </a> 
            </span>
            
                <strong>
                    Crowdfunding
                </strong>
            </h2>
            <div class="market_card-content">
                <div class="market_img-container">
                <img class="market_img-logo" src="{% static 'core/img/friends/mc1.png' %}">
                </div>
                <div class="market_mc-description">
                    Utilizamos crowdfunding, como instrumento base para que diversas iniciativas puedan conseguir el capital que necesitan a travez de recompensas
                </div>
            </div>
            <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <a href="{% url 'mi_cochinito_inicio' %}">                                                                     
                <button class="btn">Ver más</button>
                </a>                  
            </div>
        </div>
    </div>

    
    
    <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card nombre">
            <h2>
                <span>
                    <a class="friends_link" href="{% url 'vexi_inicio' %}">
                 Vexi
                 </a> 
                </span>
                <strong>
                    
                    Finanzas 
                </strong>
            </h2>
            <div class="market_card-content">
                <div class="market_img-container">
                    <img class="market_img-logo" src="{% static 'core/img/friends/logovexi.png' %}">
                </div>
                <div class="market_mc-description">
                    Somos una tarjeta de crédito 100% mexicana y administrada directamente desde nuestra app.

                    NO tiene anualidad de por vida, ni comisión por no uso, solo realizas un pago único por apertura.
                </div>
            </div>
            <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
        <div class="mc-footer">
            <a href="{% url 'vexi_inicio' %}">                                                                     
                <button class="btn">Ver más</button>
                </a>             
            </div>
        </article>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card nombre">
            <h2>
                <span>
                <a a class="friends_link" href="{% url 'tesi_cafe' %}">
                 Tesicafé
                 </a> 
                </span>
                <strong>
                    
                    Educación 
                </strong>
            </h2>
            <div class="market_card-content">
                <div class="market_img-container">
                    <img class="market_img-logo" src="{% static 'core/img/friends/Tesicafecolor.png' %}">
                </div>
                <div class="market_mc-description">
                    Un servicio de acompañamiento tesistico que trabaja con una metodología 4.0, para asegurar los resultados que el o la tesista desea.
                </div>
            </div>
            <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <a href="{% url 'tesi_cafe' %}">                                                                     
                    <button class="btn">Ver más</button>
                </a>             
            </div>
        </article>
 </div>
</div>
 {% endblock %}