{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="teca_taller_cont_general_taller8"> 

    <div id="teca_tesis_cont1_taller8">
        <div id="teca_tesis_taller8_cont1_espaciador"></div>
        <div id="teca_tesis_taller8_cont1_img">
            <img src="{% static 'core/img/friends/tesicafecolor.png' %}" alt="">
        </div>
    </div>




    <div id="teca_tesis_taller8">
        
        <!-- Lateral 1-->
        <div id="teca_tesis_taller8_lateral1">
    
            <div id="teca_tesis_taller8_lateral1_boton1">
    
               <a href="{% url 'tesi_cafe_taller7' %}"><p><</p></a>
    
            </div>
     
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="teca_tesis_taller8_central">
    
            <h1 id="teca_tesis_taller8_central_h1">El estado de arte
            </h1>
            <p id="teca_tesis_taller8_central_p">
                Para que reafirmes la pertinencia de tu objeto y complementes tu marco teórico, no olvides hacer tu estado de arte. Aquí te decimos cómo. <br> <br>
                Busca investigaciones que tengan que ver con tu objeto de estudio, en tu país o en cualquier parte del mundo. 
            </p>

            <div class="teca_tesis_taller8_book-store">
                <div class="teca_tesis_taller8_book-slide">
                  <div class="teca_tesis_taller8_book js-flickity" data-flickity-options='{ "wrapAround": true }'>
                    <div class="teca_tesis_taller8_book-cell">
                      <div class="teca_tesis_taller8_book-img">
                          <img src="https://scielo.org/static/images/logo-scielo-portal-no-label.svg" alt="" class="teca_tesis_taller8_book-photo">
                      </div>
                            <div class="teca_tesis_taller8_book-content">
                              <div class="teca_tesis_taller8_book-title">SciELO
                              </div>
                                <div class="teca_tesis_taller8_book-sum"> Es una hemeroteca virtual conformada por una colección de revistas mexicanas de todas las áreas del conocimiento
                                </div>
                                  <div class="teca_tesis_taller8_book-see">Visitar</div>
                              </div>
                      </div>     
                    <div class="teca_tesis_taller8_book-cell">
                        <div class="teca_tesis_taller8_book-img">
                            <img src="https://www.unamenlinea.unam.mx/recursos/img/6001/pagina_6001.jpg" alt="" class="teca_tesis_taller8_book-photo">
                        </div>
                            <div class="teca_tesis_taller8_book-content">
                                <div class="teca_tesis_taller8_book-title">TESIUNAM </div>
                                    <div class="teca_tesis_taller8_book-sum"> Un catálogo en el cual se visualizan las tesis de los sustentantes que obtuvieron un grado académico en la UNAM –licenciatura, maestría y doctorado-, así como las tesis de licenciatura de escuelas incorporadas a la UNAM</div>
                   
                                        <div class="teca_tesis_taller8_book-see book-blue">Visitar</div>
                                </div>
                    </div>
                 <div class="teca_tesis_taller8_book-cell">
                  <div class="teca_tesis_taller8_book-img">
                   <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple118/v4/ff/8e/67/ff8e673e-5c36-d390-c165-320e871ccd16/source/512x512bb.jpg" alt="" class="teca_tesis_taller8_book-photo">
                  </div>
                  <div class="teca_tesis_taller8_book-content">
                   <div class="teca_tesis_taller8_book-title">CONRICYT</div>
                   <div class="teca_tesis_taller8_book-sum">Estrategia para fortalecer el uso y consumo de información que incide en la producción científica y tecnológica de calidad en nuestro país.</div>
                   <div class="teca_tesis_taller8_book-see">Visitar</div>
                  </div>
                 </div>
                 <div class="teca_tesis_taller8_book-cell">
                  <div class="teca_tesis_taller8_book-img">
                   <img src="https://www.encb.ipn.mx/assets/files/encb/img/escudos/logo-ipn.png" alt="" class="teca_tesis_taller8_book-photo">
                  </div>
                  <div class="teca_tesis_taller8_book-content">
                   <div class="teca_tesis_taller8_book-title">Tesis IPN</div>
                   <div class="teca_tesis_taller8_book-sum">Contribuye al desarrollo económico y social de la nación, a través de la formación integral de personas competentes; de la investigación, el desarrollo tecnológico y la innovación</div>
                   <div class="teca_tesis_taller8_book-see">Visitar</div>
                  </div>
                 </div>
                 <div class="teca_tesis_taller8_book-cell">
                  <div class="teca_tesis_taller8_book-img">
                   <img src="https://biblioteca.unbosque.edu.co/sites/default/files/redalyc.png" alt="" class="teca_tesis_taller8_book-photo">
                  </div>
                  <div class="teca_tesis_taller8_book-content">
                   <div class="teca_tesis_taller8_book-title">Redalic</div>
                   <div class="teca_tesis_taller8_book-sum">Proyecto académico para la difusión en acceso abierto de la actividad científica editorial de todo el mundo, bajo un modelo liderado por la academia y no lucrativo</div>
                   <div class="teca_tesis_taller8_book-see">Visitar</div>
                  </div>
                </div>

    
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="teca_tesis_taller8_lateral2">
            <div id="teca_tesis_taller8_lateral2_boton2">
                <a href="{% url 'tesi_cafe_taller9' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>


{% endblock %}