{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="teca_taller_cont_general_taller4"> 

    <div id="teca_tesis_cont1_taller4">
        <div id="teca_tesis_taller4_cont1_espaciador"></div>
        <div id="teca_tesis_taller4_cont1_img">
            <img src="{% static 'core/img/friends/tesicafecolor.png' %}" alt="">
        </div>
    </div>




    <div id="teca_tesis_taller4">
        
        <!-- Lateral 1-->
        <div id="teca_tesis_taller4_lateral1">
    
            <div id="teca_tesis_taller4_lateral1_boton1">
    
               <a href="{% url 'tesi_cafe_taller3' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="teca_tesis_taller4_central">
    
            <h1 id="teca_tesis_taller4_central_h1">¿Cómo hacer el Marco Epistémico ?</h1>
            <p id="teca_tesis_taller4_central_p">
                
                Aprende a delimitar tu tema de investigación y conviértelo a un objeto que pueda terminarse en los tiempos que tu precises. ¿Cómo? Mediante el marco epistémico. <br><br>

                Te explicamos los componentes que te ayudarán a delimitar tu investigación, puedes seleccionar cada uno de ellos y se mostrarán en tu pantalla.
            </p>

            <div id="teca_tesis_taller4_wrapper">
                <div id="teca_tesis_taller4_left">
                  <ul class="teca_tesis_taller4_ul">
                    <li class="teca_tesis_taller4_sujeto active">
                      Sujeto
                    </li>
                    <li class="teca_tesis_taller4_problema">
                      Problema
                    </li>
                    <li class="teca_tesis_taller4_tiempo">
                      Tiempo
                    </li>
                    <li class="teca_tesis_taller4_espacio">
                      Espacio
                    </li>
                  </ul>
                </div>
              
                <div id="teca_tesis_taller4_border">
                  <div id="line" class="one"></div>
                </div>
              
                <div id="teca_tesis_taller4_right">
                  <div id="teca_tesis_taller4_first" class="active">
              
                    <h1>Sujeto / Objeto</h1>
              
                    <p>¿En qué sujetos u objetos focalizaré mi investigación? Pueden ser libros, películas, series, personas, organizaciones, movimientos, grupos sociales; pero requieren delimitarse. Y salvo grandes proyectos recomendamos seleccionar sólo un objeto o sujeto.
                    </p>
                  </div>
              
                  <div id="teca_tesis_taller4_second">
              
                    <h1>Proceso / Problema</h1>
              
                    <p>¿Qué proceso social quiero estudiar sobre mi tema? ¿Requiere pasar de lo general a lo particular y echar un vistazo a los conocimientos que tenga sobre su área de estudio?. Una técnica que a nosotros nos ha funcionado mucho es preguntarle al tema sobre algo que nos interese mucho del mismo</p>
                  </div>
                  
                  <div id="teca_tesis_taller4_third">
                    <h1>Tiempo</h1>
              
                    <p>Establecer un periodo de estudio que resulte factible para ser abordado por el investigador. Si por ejemplo planteamos proyectos de 500 años de revisión histórica probablemente nunca concluyamos (por obvio que suene es un error muy frecuente). </p>
              
                  </div>
              
                  <div id="teca_tesis_taller4_fourth">
                    <h1>Espacio</h1>
              
                    <p>Establecer el sitio (sea físico o virtual) en donde se realizará la investigación. Como el tiempo, debe ser factible para ser explorado. Si es físico puede ser en alguna escuela, barrio, localidad, etc. Pero también existen los virtuales: discos, plataformas digitales, series de televisión, etc.
                    </p>
              
                  </div>
                </div>
              </div>
    
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="teca_tesis_taller4_lateral2">
            <div id="teca_tesis_taller4_lateral2_boton2">
                <a href="{% url 'tesi_cafe_taller5' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>


{% endblock %}