{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="teca_tesis_cont_general">

    <div id="teca_tesis_cont1">
        <div id="teca_tesis_cont1_espaciador"></div>
        <div id="teca_tesis_cont1_img">
            <img src="{% static 'core/img/friends/tesicafecolor.png' %}" alt="">
        </div>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------->
    <!--cont2-->
    <div id="teca_tesis_cont2">
        <div id="teca_tesis_cont2_central">

            <h1 id="teca_tesis_cont2_h1">¿Y cómo empiezo mi tesis?</h1>

            <p id="teca_tesis_cont2_p">¿Aún no sabes por donde empezar? con nosotros crearás más que una tesis con este taller diseñado por y para tesistas</p>

            <div id="teca_tesis_cont2_cont_black">

                <div id="teca_tesis_cont2_cont_black_conts">

                    <div class="teca_tesis_cont2_cont_black_conts">
                        <p class="teca_tesis_cont2_cont_black_p_pink">4 HR</p>
                        <p class="teca_tesis_cont2_cont_black_p_white">Tiempo estimado</p>
                    </div>

                    <div class="teca_tesis_cont2_cont_black_conts">
                        <p class="teca_tesis_cont2_cont_black_p_pink">8</p>
                        <p class="teca_tesis_cont2_cont_black_p_white">Temas</p>
                    </div>

                    <div class="teca_tesis_cont2_cont_black_conts">
                        <p class="teca_tesis_cont2_cont_black_p_pink">4</p>
                        <p class="teca_tesis_cont2_cont_black_p_white">Actividades</p>
                    </div>

                    <div class="teca_tesis_cont2_cont_black_conts">
                        <div id="teca_tesis_cont2_cont_black_conts_img"><img src="{% static 'core/img/certificado1.png' %}" alt=""></div>
                        <p class="teca_tesis_cont2_cont_black_p_white">Con certificado</p>
                    </div>

                </div>

                <div id="teca_tesis_cont2_cont_black_boton">
                    <div id="teca_tesis_cont2_cont_black_boton_empezar">
                        <a href="{% url 'tesi_cafe_taller1' %}"><p id="teca_tesis_cont2_boton_empezar">Empezar</p></a>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!--cont2-->
    <!--------------------------------------------------------------------------------------------------------------------->
    <!--cont3-->
    <div id="teca_tesis_cont3">
        
        <div id="teca_tesis_cont3_cont_central">
            <div id="teca_tesis_cont3_cont1">

                <h2 id="teca_tesis_cont3_cont1_h2">Contenido del curso</h2>
    
                 <!------------------------------------------------------>
    
                <h5 class="teca_tesis_cont3_h5">Introducción</h5>
    
                <div class="teca_tesis_cont3_cont_p">
                    <p>
                        Preguntas frecuentes a la hora de hacer mi tesis  
                    </p>
                </div>
    
                <div class="teca_tesis_cont3_cont_p">
                    <p>
                        Aprende a redactar una tesis
                    </p>
                </div>
    
                <!------------------------------------------------------>
    
                <h5 class="teca_tesis_cont3_h5">Primeros pasos</h5>
    
                <div class="teca_tesis_cont3_cont_p">
                    <p>
                        ¿Cómo elegir un tema de investigación? 
                    </p>
                </div>

                <div class="teca_tesis_cont3_cont_p">
                    <p>
                        ¿Cómo hacer el Marco Epistémico ?
 
                    </p>
                </div>

                <div class="teca_tesis_cont3_cont_p">
                    <p>
                        Objetivo de mi tesis 
                    </p>
                </div>

                <div class="teca_tesis_cont3_cont_p">
                    <p>
                        ¡Haz tu pregunta de investigación e hipotesis hoy mismo! 
                    </p>
                </div>
    
                <!------------------------------------------------------>
                <h5 class="teca_tesis_cont3_h5">Nivel medio</h5>
    
                <div class="teca_tesis_cont3_cont_p">
                    <p>
                        Marco teórico
                    </p>
                </div>
    
                <div class="teca_tesis_cont3_cont_p">
                    <p>
                        El estado de arte

                    </p>
                </div>
    
                <div class="teca_tesis_cont3_cont_p">
                    <p>
                        Justificación 
                    </p>
                </div>
    
    
                <!------------------------------------------------------>
                <h5 class="teca_tesis_cont3_h5">Nivel Pro</h5>
                <div class="teca_tesis_cont3_cont_p">
                    <p>
                        ¿Cómo construir tu estrategia metodológica?
                    </p>
                </div>

                <div class="teca_tesis_cont3_cont_p">
                    <p>
                        Técnicas para recopilar información
                    </p>
                </div>

                <div class="teca_tesis_cont3_cont_p">
                    <p>
                        Aprende a redactar una tesis
                    </p>
                </div>

                <div class="teca_tesis_cont3_cont_p">
                    <p>
                        Así se construye un capítulo de tesis

                    </p>
                </div>
                
                <!------------------------------------------------------>

                 <h5 class="teca_tesis_cont3_h5">Anexos</h5>
                 <div class="teca_tesis_cont3_cont_p">
                     <p>
                        5 tips para administrar MEJOR tu tiempo
                     </p>
                 </div>
 
    
            </div>
    
            <div id="teca_tesis_cont3_cont2">
                <div id="teca_tesis_cont3_cont2_video">
                    <iframe width="500" height="400" src="https://www.youtube.com/embed/NM2JhN2ab_s?controls=0" frameborder="0">
                    </iframe>
                </div>
                <div id="teca_tesis_cont3_cont2_boton">
                    <div id="teca_tesis_cont3_cont2_boton_empezar">
                        <a href="{% url 'tesi_cafe_taller1' %}">
                            <p>Empezar</p>
                        </a>
                    </div>
                </div>
    
            </div>
        </div>


    </div>
    <!--cont3-->
    <!--------------------------------------------------------------------------------------------------------------------->
</div>

{% endblock %}