{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="teca_taller_cont_general_taller9"> 

    <div id="teca_tesis_cont1_taller9">
        <div id="teca_tesis_taller9_cont1_espaciador"></div>
        <div id="teca_tesis_taller9_cont1_img">
            <img src="{% static 'core/img/friends/tesicafecolor.png' %}" alt="">
        </div>
    </div>
    <div id="teca_tesis_taller9">
        
        <!-- Lateral 1-->
        <div id="teca_tesis_taller9_lateral1">
    
            <div id="teca_tesis_taller9_lateral1_boton1">
    
               <a href="{% url 'tesi_cafe_taller8' %}"><p><</p></a>
    
            </div>
     
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="teca_tesis_taller9_central">
    
            <h1 id="teca_tesis_taller9_central_h1">Mi Justificación 
            </h1>
            <p id="teca_tesis_taller9_central_p">
                ¿Por qué es relevante tu proyecto? Necesitas construir razones que permitan persuadir sobre la relevancia social, académica e individual de tu tesis. <br> <br>
                Al girar la rueda encontrarás ejemplos de justificación para que puedas crear la tuya 
            </p>
            <div id="teca_tesis_taller9_container"> 
                <h2 class="teca_tesis_taller9_h1">Ejemplos de justificación</h1>
                    <div id="teca_tesis_taller9_just">
                        <p></p>
                        <p id="teca_tesis_taller9_just_p"></p>			
                    </div><!--end quoteContainer-->
                    
                    <div id="teca_tesis_taller9_just_btn">
                        <a href="#" id="teca_tesis_taller9_just_quote">Ejemplo</a>
                </div><!--end buttonContainer-->
            </div><!--end container-->
            
    
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="teca_tesis_taller9_lateral2">
            <div id="teca_tesis_taller9_lateral2_boton2">
                <a href="{% url 'tesi_cafe_taller10' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>


{% endblock %}