{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="teca_taller_cont_general_taller13"> 

    <div id="teca_tesis_cont1_taller13">
        <div id="teca_tesis_taller13_cont1_espaciador"></div>
        <div id="teca_tesis_taller13_cont1_img">
            <img src="{% static 'core/img/friends/tesicafecolor.png' %}" alt="">
        </div>
    </div>
    <div id="teca_tesis_taller13">
        
        <!-- Lateral 1-->
        <div id="teca_tesis_taller13_lateral1">
    
            <div id="teca_tesis_taller13_lateral1_boton1">
    
               <a href="{% url 'tesi_cafe_taller12' %}"><p><</p></a>
    
            </div>
     
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="teca_tesis_taller13_central">
    
            <h1 id="teca_tesis_taller13_central_h1">Anexo
            </h1>
            <p id="teca_tesis_taller13_central_p">
                <h2 id="teca_tesis_taller11_central_h2">5 tips para administrar MEJOR tu tiempo</h2>
            </p>
            <div class="teca_tesis_taller13_container">
                <div class="teca_tesis_taller13_card">
                    <div class="teca_tesis_taller13_front">
                        <img class="teca_tesis_taller13_img" src= "{% static 'core/img/agenda.png' %}">
                        <p class="teca_tesis_taller13_title">Ten una agenda</p>
                        <span class="teca_tesis_taller13_numero">1</span>
                    </div>
                    <div class="teca_tesis_taller13_back">
                        <p class="teca_tesis_taller13_p">Al tener una agenda podrás saber y controlar las actividades más importantes y así organzarte mejor</p>
                        <p><a class="teca_tesis_taller13_btn" href="https://www.facebook.com/libretasmiau" target="_blank">Obten la tuya</a></p>
                    </div>
                </div>
                
                <div class="teca_tesis_taller13_card">
                    <div class="teca_tesis_taller13_front">
                        <img class="teca_tesis_taller13_img" src="{% static 'core/img/calendario.png' %}">
                        <p class="teca_tesis_taller13_title">Prioriza actividades</p>
                        <span class="teca_tesis_taller13_numero">2</span>
            
                    </div>
                    <div class="teca_tesis_taller13_back">
                        <p class="teca_tesis_taller13_p">Puedes privilegiar las actividades que tienes por hacer, decide cuál es la más urgente o la que requiere más tiempo en su desarrollo</p>
                        <p><a class="teca_tesis_taller13_btn" href="https://www.tesicafe.com/post/3-organiza-tu-tiempo-el-cronograma" target="_blank">Más info</a></p>
                    </div>
                </div>
                
                <div class="teca_tesis_taller13_card">
                    <div class="teca_tesis_taller13_front">
                        <img class="teca_tesis_taller13_img" src="{% static 'core/img/charla.png' %}">
                        <p class="teca_tesis_taller13_title">Bases de datos de contactos</p>
                        <span class="teca_tesis_taller13_numero">3</span>
                    </div>
                    <div class="teca_tesis_taller13_back">
                        <p class="teca_tesis_taller13_p">Te recomendamos acercarte a especialistas sobre el tema, para esto es bueno tener anotados los contactos que necesitas o buscarlos interner como linkedin</p>
                        <p><a class="teca_tesis_taller13_btn" href="https://mx.linkedin.com/" target="_blank">Conectar</a></p>
                    </div>
                </div>
                
                <div class="teca_tesis_taller13_card">
                    <div class="teca_tesis_taller13_front">
                        <img class="teca_tesis_taller13_img" src="{% static 'core/img/descanso.png' %}">
                        <p class="teca_tesis_taller13_title">No te agobies</p>
                        <span class="teca_tesis_taller13_numero">4</span>
                    </div>
                    <div class="teca_tesis_taller13_back">
                        <p class="teca_tesis_taller13_p">Trata de darte un tiempo para ti ya que al no tener descansos podrías agobierte y no querer seguir con tu trabajo de investigación, pero tampoco abuses de estos</p>
                    </div>
                </div>
                
            </div>

        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="teca_tesis_taller13_lateral2">
            <div id="teca_tesis_taller13_lateral2_boton2">
                <a href="{% url 'tesi_cafe_taller14' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>








{% endblock %}