{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<body id="body_tesicafe">

    <div id="tesi_cafe_cont_general_taller10">

        <div id="tesi_cafe_cont_central_taller10">
    
            <div id="tesi_cafe_central_encabezado_taller10">
                
                <h1>Encabezado</h1>
                <h2>tesicafe taller10</h2>

            </div>
            
           

            <div id="tesi_cafe_central_contenido_taller10">
            
             <!-- Lateral 1 -->

                <div id="tesi_cafe_central_lateral1_taller10">
    
                    <div id="tesi_cafe_central_lateral1_boton1_taller10">
    
                        <a href="{% url 'tesi_cafe_taller9' %}"><p><</p></a>
             
                    </div>
    
                </div>

            <!-- Lateral 1 -->

            <!-- Central -->

                <div id="tesi_cafe_central_central_taller10">
    
                </div>

            <!-- Central -->
            <!-- Lateral 2 -->
            
                <div id="tesi_cafe_central_lateral2_taller10">

                    <div id="tesi_cafe_central_lateral2_boton2_taller10">
    
                        <a href="{% url 'tesi_cafe_taller11' %}"><p>></p></a>
                
                    </div>
    
                </div>

            <!-- Lateral 2 -->
            </div>
    
        </div>
    
    </div>

</body>


{% endblock %}