{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="teca_taller_cont_general_taller2"> 

    <div id="teca_tesis_cont1_taller2">
        <div id="teca_tesis_taller2_cont1_espaciador"></div>
        <div id="teca_tesis_taller2_cont1_img">
            <img src="{% static 'core/img/friends/tesicafecolor.png' %}" alt="">
        </div>
    </div>




    <div id="teca_tesis_taller2">
        
        <!-- Lateral 1-->
        <div id="teca_tesis_taller2_lateral1">
    
            <div id="teca_tesis_taller2_lateral1_boton1">
    
               <a href="{% url 'tesi_cafe_taller2' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="teca_tesis_taller2_central">
    
            <h1 id="teca_tesis_taller3_central_h1">¿Cómo elegir un tema de investigación?</h1>
            <p id="teca_tesis_taller3_central_p">
                
                Si aún no tienes un tema de investigación o no sabes cual elegir, es importante delimitarlo para volverlo tu objeto de estudio
            </p>
            <h2 id="teca_tesis_taller3_central_h2">¿Qué tengo que hacer?</h2>
            <p id="teca_tesis_taller3_central_p">
                Crearemos una lluvia de ideas,  escribe los temas que más te gusten, por cada una de las notas y conviértelos en un problema o tema a investigar. Te dejamos un ejemplo.
            </p>
            
            <div class="teca_tesis_taller3_stick" style="left:400px;">
                <input type="checkbox" id="fold1">
                <div class="teca_tesis_taller3_nota nota-rounded">
                 <textarea id="nota-1">Puedes escribir aquí</textarea>
                </div>
                  <div class="teca_tesis_taller3_action">
                    <button type="button" class="teca_tesis_taller3_btn teca_tesis_taller3_btn-del"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
                <button class="teca_tesis_taller3_btn teca_tesis_taller3_btn-add"><i class="fa fa-plus"></i></button>
    
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="teca_tesis_taller2_lateral2">
            <div id="teca_tesis_taller2_lateral2_boton2">
                <a href="{% url 'tesi_cafe_taller4' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>
{% endblock %}