{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div id="teca_taller_cont_general_taller12"> 

    <div id="teca_tesis_cont1_taller12">
        <div id="teca_tesis_taller12_cont1_espaciador"></div>
        <div id="teca_tesis_taller12_cont1_img">
            <img src="{% static 'core/img/friends/tesicafecolor.png' %}" alt="">
        </div>
    </div>
    <div id="teca_tesis_taller12">
        
        <!-- Lateral 1-->
        <div id="teca_tesis_taller12_lateral1">
    
            <div id="teca_tesis_taller12_lateral1_boton1">
    
               <a href="{% url 'tesi_cafe_taller11' %}"><p><</p></a>
    
            </div>
    
        </div>
        <!-- Lateral 1-->
        <!-- central-->
        <div id="teca_tesis_taller12_central">
    
            <h1 id="teca_tesis_taller12_central_h1">Así se construye un capítulo de tesis
            </h1>
            <p id="teca_tesis_taller12_central_p">
                
                Ya casi terminamos, pero ¿Sabes como se realiza un capítulo de tu tesis? si la respuesta es NO, presta atención a estos pasos y si ya tienes contruidos algunos, podrás mejorarlos.            </p>

            <div class="teca_tesis_taller12_contenedor">
                <div class="teca_tesis_taller12_swiper">
                    <div class="swiper-wrapper">
                      <div class="teca_tesis_taller12_slider-item swiper-slide">
                        <div class="slider-image-wrapper">
                          <img class="slider-image" src="{% static 'core/img/icono2.png' %}" alt="SliderImg">
                          </div>
                        <div class="slider-item-content">
                          <h1 class="teca_tesis_taller12_h1">Objetivos del capitulo</h1>
                          <p class="teca_tesis_taller12_p">Ten claros tus objetivos de cada uno de los capitúlos, puedes agregar los conceptos que sustentan</p>
                        </div>
                      </div>
                  
                      <div class="teca_tesis_taller12_slider-item swiper-slide">
                        <div class="slider-image-wrapper">
                          <img class="slider-image" src="{% static 'core/img/icono1.png' %}" alt="SliderImg">
                          </div>
                        <div class="slider-item-content">
                          <h1  class="teca_tesis_taller12_h1">Crea cuadros de control</h1>
                          <p class="teca_tesis_taller12_p">Esta herramienta de gestión y ya que la información está organizada según los tipos de objetivos perseguidos o áreas de interés</p>
                        </div>
                      </div>
                  
                      <div class="teca_tesis_taller12_slider-item swiper-slide">
                        <div class="slider-image-wrapper">
                          <img class="slider-image" src="{% static 'core/img/icono4.png' %}" alt="SliderImg">
                          </div>
                        <div class="slider-item-content">
                          <h1  class="teca_tesis_taller12_h1">Crea argumentos centrales</h1>
                          <p class="teca_tesis_taller12_p">Por capítulo deberás incorporar tu yo, es decirno puedes perder tu voz como tesista. Pero esta dialiga con tu objetivo y los conceptos</p>
                        </div>
                      </div>
                  
                      <div class="teca_tesis_taller12_slider-item swiper-slide">
                        <div class="slider-image-wrapper">
                          <img class="slider-image" src="{% static 'core/img/icono3.png' %}" alt="SliderImg">
                          </div>
                        <div class="slider-item-content">
                          <h1  class="teca_tesis_taller12_h1">Haz Micohipotesis</h1>
                          <p class="teca_tesis_taller12_p">Son supuestos que surgen en el transcurso de la construcción de tu capítulo, de cada objetivo y conceptos puedes deribar elementos que te puedan ayudar a construir el apartado</p>
                        </div>
                      </div>
                      
                    </div>
                    <div class="slider-buttons">
                        <button class="teca_tesis_taller12_button-prev">Anterior</button>
                        <button class="teca_tesis_taller12_button-next">Después</button>
                    </div>
                  
                    <div class="swiper-pagination"></div>
                  </div>
            </div>

                
            
    
        </div>
        <!-- central-->
        <!-- Lateral 2-->
        <div id="teca_tesis_taller12_lateral2">
            <div id="teca_tesis_taller12_lateral2_boton2">
                <a href="{% url 'tesi_cafe_taller13' %}"><p>></p></a>
            </div>
        </div>
        <!-- Lateral 2-->
    
    </div>

</div>


{% endblock %}