{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div id="login_cont_g">

  <div id="login_cont_central">

    <!-- .................................................................................... -->

    <div id="login_cont_g_1">

      {% if request.user.is_authenticated %}
      <script>window.location.href = '/accounts/perfil/'; </script>
      {% endif %}
      {% comment %} <style>.errorlist{color:red;}</style> {% endcomment %}
      {% comment %} {% if 'register' in request.GET %}
          <p style="color:green;">Usuario registrado correctamente, ya puedes identificarte.</p>
      {% endif %} {% endcomment %}

      <form action="" method="post" id="login_form">{% csrf_token %}

        <h2  id="login_cont_g_1_h2">Iniciar sesión</h2>

        {% if form.non_field_errors %}
          <p style="color:blue">Usuario o contraseña incorrectos, prueba de nuevo.</p>
        {% endif %}

        <p>
          <input type="text" name="username" autofocus maxlength="254" required
            id="id_username" class="form-control" placeholder="Nombre de usuario"/>
        </p>
        <p>
          <input type="password" name="password" required
            id="id_password" class="form-control" placeholder="Contraseña"/>
        </p>

        <input type="submit" class="btn btn-primary btn-block" value="Acceder" id="login_boton_acceder">

      </form>
        <p id="login_p_recuperar">
          ¿Ha olvidado su clave? Puede restaurarla <a href="{% url 'password_reset' %}">aquí</a>.
        </p>

    </div>

    <!-- .................................................................................... -->
    <!-- .................................................................................... -->

    <div id="login_cont_g_2">

      <h1>CREA TU CUENTA</h1>

      <p id="login_cont_g_2_p">Ingresa tus datos y comienza tu viaje con nosotros.</p>

      <div id="login_cont_g_2_boton">
        <a href="{% url 'signup' %}" id="p_signup_boton">CREAR CUENTA</a>
      </div>

    </div>

    <!-- .................................................................................... -->




  </div>
  
</div>
  

        
     
 
{% endblock %}