{% extends 'core/base.html' %}
{% load static %}
{% block content %}


<div class="registro2_container" id="registro2_container">
  <div class="form-container sign-up-container">
     {% if 'register' in request.GET %}
          <p style="color:green;">Usuario registrado correctamente, ya puedes identificarte.</p>
        {% endif %}
      <form action="" method="post">{% csrf_token %}   
      {% if form.non_field_errors %}
            <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
        {% endif %} 
        <h1 class="registro2_h1_inicio">Inicia sesión</h1>
        <input type='text' placeholder='Nombre de usuario' required name="username">
        <input type='password' placeholder='Contraseña' required name="password" id="id_password">
        <h2 class="registro2_h2">Olvidé mi contraseña</h2>
        </a>
        <a href=""> 
          <button type="submit" name='submit' value="Acceder">Acceder</button>
        </a>
      </form>
    </div>

    <div class="form-container sign-in-container"> 
<form method="post">
    {% csrf_token %}
    <h1 class="registro2_h1_inicio">Crea tu cuenta</h1>
  <input type='text' placeholder='Nombre de usuario' required name="username" >
  <input type='email' placeholder='Email' required name="email">
  <input type='password' placeholder='Contraseña' required name="password1" id="id_password1">
  <input type='password' placeholder='Confirma tu contraseña' required name="password2" id="id_password2">

    
  {% comment %} <form method="post">
    {% csrf_token %}
  <label>username</label>
   {{ form.username}}
   <label>email</label>
   {{ form.email}}
   <label>password</label>
   {{ form.password1}}
   <label>confirma pasword</label>
   {{ form.password2}} {% endcomment %}
 

    <button type="submit" name='submit' value="signup">Crear cuenta</button>
  </form> 

</div>

<div class="overlay-container">
  <div class="overlay">
    <div class="overlay-panel overlay-left">
      <h1 class="registro2_h1">CREA TU CUENTA</h1>
      <p class="registro2_p">Ingresa tus datos personales y comienza tu viaje con nosotros</p>
      <button class="ghost" id="signIn">Crear Cuenta</button>
    </div>
    <div class="overlay-panel overlay-right">
      <h1 class="registro2_h1">YA TENGO UNA CUENTA</h1>
      <p class="registro2_p">Inicia sesión con tu información personal</p>
      <button class="ghost" id="signUp">Iniciar Sesión</button>
    </div>
  </div>
</div>
</div>
</div>
</div>
<script  src= "{% static 'core/js/registro.js' %}"></script>


{% endblock %}