
{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}

<div class="perfil2_contenedor">
    <div class="perfil2_cover_page">
      <img clas="perfil2_img"src="{% static 'core/img/fondo.jpg' %}">
      <div class="perfil2_btn_cover">
        <div class="perfil2_btn_upload">
          <label for="InpUploadCoverPage" class="perfil2_btn_accion"><span>Editar </span></label>
          <input type="file" id="InpUploadCoverPage" class="perfil_control_hidden">          
        </div>
      </div>
    </div>    
      <div class="perfil2_avatar">
        <div class="perfil2_avatar_upload">
            <div class="perfil2avatar_edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload" style="background-image: url({% static 'core/img/lapiz.png' %}); background-repeat: no-repeat; background-position: center" ></label>
            </div>
            <div class="perfil2_avatar_preview">
                <div id="imagePreview" style="background-image: url({% static 'core/img/perfilH.png' %})">
                </div>
              </div>
            </div>
          
     <div class="perfil2_presentacion">

      <h1 class="perfil2_h1">{{user.get_username}}</h1>
      <p class="perfil2_p">Cuentános en una breve descripción sobre quíen eres, qué haces o qué te gusta</p>
      </div>
    </div>

      <div class="perfil2_flexslider-controls">
        <ol class="perfil2_flex-control-nav">
            <li>Editar perfil</li>
            <li>Cuenta</li>
            <li>Historial de cursos</li>
            <li>Certificados</li>
        </ol>
    </div>

    <div class="flexslider">
      <ul class="slides">
          <li>
            <div class="perfil2_perfil" width="800" height="504">
              <div id="title">
                <h2 class="perfil2_h2">Editar mi perfil</h2>    
              </div>
              <div class="perfil2_form">
                  <form>
                    <h3 class="perfil2_h3">Nombre de usuario</h3>
                    <div class="vexi_help">
                      <div class="tooltip">
                        <div class="tooltip-spacing">
                          <div class="tooltip-bg1"></div>
                          <div class="tooltip-bg2"></div>
                          <div class="tooltip-text">?</div>
                        </div>
                      </div>
                      <div class="popup-text">
                        Es el usuario con el que inicias sesión: {{user.get_username}}
                      </div>
                    </div>
                    <input type="text" class="perfil2_col-md-6" >		
                    <h3 class="perfil2_h3">Nombre(s)</h3>
                    <input type="text" class="perfil2_col-md-6" >
                    <h3 class="perfil2_h3">Apellidos</h3>
                    <input type="text" class="perfil2_col-md-6" >
                    <h3 class="perfil2_h3">Fecha de nacimiento</h3>
                    <input type="date" class="perfil2_col-md-3" >
                    <h3 class="perfil2_h3">Género</h3>
                    <input type="checkbox" class="gen"  name="hm" value="h" required> Hombre
                    <input type="checkbox"  name="hm" value="m" required> Mujer
                    <input type="text1" class="otro" placeholder="Otro">
                    <br> <br>
                    <input class="perfil2_btn" type="submit" value="Guardar" >		
                  </form>
                </div>
              </div>
          </li>
          <li>
            <div class="perfil2_perfil" width="800" height="504">
              <div id="title">
                <h2 class="perfil2_h2">Información de inicio de sesión</h2>    
              </div>
              <div class="perfil2_cuenta">
                  <form>		
                    <h3 class="perfil2_h3">Correo electronico</h3>
                    <input type="text" class="perfil2_col-md-6" >
                    <h3 class="perfil2_h3">Contraseña</h3>
                    <h4 class="perfil2_h4">La contraseña debe contener al menos seis caracteres</h4>
                    <input type="text" class="perfil2_col-md-6" >
                    <h3 class="perfil2_h3">Confirma tu contraseña</h3>
                    <input type="text" class="perfil2_col-md-6" >
                    <br> <br>
                    <input class="perfil2_btn" type="submit" value="Guardar" >	
          </li>
          <li>
            <div class="perfil2_perfil" width="800" height="504">
              <div id="title">
                <h2 class="perfil2_h2">Visto recientemente</h2>    
              </div>
                 <div class="perfil2_historial_no">
                  <h5 class="perfil2_h5">Todavía no haz iniciado algun curso</h5>
                  <img class="perfil2_img_hist" src="{% static 'core/img/undraw_empty_xct9.png' %}">
                 </div>
                </li>
                <li>
<!-- En caso de tener historial -->
             <!-- <div class="perfil2_historial_si">
            <div class="perfil2_wrapper">
              <div class="perfil2_wrapper_inner"> 
                <section class="perfil2_gallery">
                  <div class="perfil2_gallery_item">
                    <span class="perfil2_gallery_item_preview">
                      <a href="#" data-js="1">
                        <img src="https://25.media.tumblr.com/1adc4029ef3a31124f222add70fa3553/tumblr_n2k1499dIp1st5lhmo1_1280.jpg" alt="" /><span>
                        <h3>Exmaple photo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit.</p>
                        </span>
                      </a>
          </li>
          <li>-->

            <div class="perfil2_perfil" width="800" height="504">
              <div id="title">
                <h2 class="perfil2_h2">Mis Certificados</h2>    
              </div>
                 <div class="perfil2_certificados">
                  <h5 class="perfil2_h5">Aún no cuentas con certificados</h5>
                  <img class="perfil2_img_cert" src="{% static 'core/img/undraw_No_data_re_kwbl.png' %}">
                 </div>

          </li>
      </ul>
  </div>
</div>
{% endblock %}
