{% extends 'registration/base_login.html' %}
{% load static %}
{% block content %}


<div class="preferencias_container">
  <div id="title">
    <h1 class="preferencias_h1">Conocerte nos ayudará a guiarte y saber <br> que herramientas necesitas</h1>    
  
    <div class="preferencias_formulario">
      <div class="pref_control-group">
        <h2 class="preferencias_h2">¿Estudias <br> o  trabajas?</h2>
        <label class="control control--radio">Estudio
          <input type="radio" name="radio" checked="checked"/>
          <div class="control__indicator"></div>
        </label>
        <label class="control control--radio">Trabajo
          <input type="radio" name="radio"/>
          <div class="control__indicator"></div>
        </label>
        <label class="control control--radio">Ambos
          <input type="radio" name="radio" checked="checked"/>
          <div class="control__indicator"></div>
        </label>
      </div>
    
        <div class="pref_control-group">
          <h2 class="preferencias_h2" >¿Tienes algún proyecto o idea?</h2>
          <label class="control control--radio">Si
            <input type="radio" name="radio" checked="checked"/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">No
            <input type="radio" name="radio"/>
            <div class="control__indicator"></div>
          </label>
          <label class="control control--radio">No sé
            <input type="radio" name="radio" checked="checked"/>
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>

      <div class="pref_subt">¿Qué te gustaría aprender? </div>

      <section class="pref_opciones">
        <div class="pref_grid">
          <label class="pref_card">
            <input class="card__input" type="checkbox"/>
            <div class="card__body">
              <div class="card__body-cover"><img class="card__body-cover-image" src="{% static 'core/img/undraw_education_f8ru.png' %}"/><span class="card__body-cover-checkbox"> 
                  <svg class="card__body-cover-checkbox--svg" viewBox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </svg></span></div>
              <header class="card__body-header">
                <h3 class="card__body-header-title">Educación</h3>
              </header>
            </div>
          </label>
          <label class="pref_card">
            <input class="card__input" type="checkbox"/>
            <div class="card__body">
              <div class="card__body-cover"><img class="card__body-cover-image" src="{% static 'core/img/undraw_collab_8oes.png' %}"/><span class="card__body-cover-checkbox"> 
                  <svg class="card__body-cover-checkbox--svg" viewBox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </svg></span></div>
              <header class="card__body-header">
                <h3 class="card__body-header-title">Social</h3>
              </header>
            </div>
          </label>
          <label class="pref_card">
            <input class="card__input" type="checkbox"/>
            <div class="card__body">
              <div class="card__body-cover"><img class="card__body-cover-image" src="{% static 'core/img/undraw_metrics_re_6g90.png' %}"/><span class="card__body-cover-checkbox"> 
                  <svg class="card__body-cover-checkbox--svg" viewBox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </svg></span></div>
              <header class="card__body-header">
                <h3 class="card__body-header-title">Negocios</h3>
              </header>
            </div>
          </label>
          <label class="pref_card">
            <input class="card__input" type="checkbox"/>
            <div class="card__body">
              <div class="card__body-cover"><img class="card__body-cover-image" src="{% static 'core/img/undraw_discoverable_xwsc.png' %}"/><span class="card__body-cover-checkbox"> 
                  <svg class="card__body-cover-checkbox--svg" viewBox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </svg></span></div>
              <header class="card__body-header">
                <h3 class="card__body-header-title">Diseño</h3>
              </header>
            </div>
          </label>
          <label class="pref_card">
            <input class="card__input" type="checkbox"/>
            <div class="card__body">
              <div class="card__body-cover"><img class="card__body-cover-image" src="{% static 'core/img/undraw_web_developer_p3e5.png' %}"/><span class="card__body-cover-checkbox"> 
                  <svg class="card__body-cover-checkbox--svg" viewBox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </svg></span></div>
              <header class="card__body-header">
                <h3 class="card__body-header-title">Programación</h3>
              </header>
            </div>
          </label>
        
          <label class="pref_card">
            <input class="card__input" type="checkbox"/>
            <div class="card__body">
              <div class="card__body-cover"><img class="card__body-cover-image" src="{% static 'core/img/undraw_business_analytics_re_tfh3.png' %}"/><span class="card__body-cover-checkbox"> 
                  <svg class="card__body-cover-checkbox--svg" viewBox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </svg></span></div>
              <header class="card__body-header">
                <h3 class="card__body-header-title">Finanzas</h3>
              </header>
            </div>
          </label>
        </section>

        <a href="marketplace.html">
          <button class="btn">Siguiente</button>
      </a>
    
      <a href="marketplace.html">
        <button class="btn">Saltar</button>
    </a>


{% endblock %}